<nb-card>
    <nb-card-header>
        <button nbButton shape="rectangle" class="mx-1" ghost>
            <nb-icon icon="star-outline" pack="eva"></nb-icon>
            My Fleet
        </button>
        <button nbButton shape="rectangle" class="mx-1" ghost>
            <nb-icon icon="list-outline" pack="eva"></nb-icon>
            Fleet List
        </button>
        <button nbButton shape="rectangle" class="mx-1" ghost>
            <nb-icon icon="menu-outline" pack="eva"></nb-icon>
            All assets
        </button>
        <button nbButton status="primary" class="mx-1" ghost>
            <nb-icon icon="shuffle-2-outline" pack="eva"></nb-icon>
            Docking Plan
        </button>
        <button nbButton class="mx-1" ghost>
            <nb-icon icon="refresh-outline" pack="eva"></nb-icon>
            Refresh
        </button>
    </nb-card-header>
    <nb-card-header class="justify-content-between d-flex" >
        <div>
            <button nbButton status="primary" class="mx-1" outline>
                <nb-icon icon="book-outline" pack="eva"></nb-icon>
                Export to PDF
            </button>
            <button nbButton status="primary" class="mx-1" outline>
                <nb-icon icon="chevron-down-outline" pack="eva"></nb-icon>
                Extend
            </button>
            <button nbButton status="primary" class="mx-1" outline>
                <nb-icon icon="info-outline" pack="eva"></nb-icon>
                Extended Info
            </button>
        </div>
        <div>
            <button nbButton status="primary" class="mx-1" outline size="tiny">
                Week
            </button>
            <button nbButton status="primary" class="mx-1" outline size="tiny">
                Month
            </button>
            <button nbButton status="primary" class="mx-1" outline size="tiny">
                Year
            </button>
        </div>
    </nb-card-header>

    <nb-card-body>
        <div class="d-flex">
            <div style="width: 350px">
                <ngx-datatable
        class="bootstrap"
        [rows]="trackingData"
        [count]="trackingData"
        columnMode="force"
        default>
        <ngx-datatable-column name="Ship Name" prop="Ship Name"></ngx-datatable-column>
        <ngx-datatable-column name="Phases">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <nb-icon *ngFor="let stat of row.phases" [ngStyle]="{'color': stat ? 'green' : 'red'}" [icon]="stat ? 'checkmark-square-2-outline' : 'close-square-outline'"></nb-icon>
            </ng-template>
        </ngx-datatable-column>
            <ngx-datatable-column name="Periode">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.periode | date:'shortDate'}} - {{row.updated_at | date:'shortDate'}}
                </ng-template>
            </ngx-datatable-column>
            </ngx-datatable>
            </div>
            <div style="flex: 1; margin-left: -18px; margin-top: 1.2em;">
                <ng-container *ngTemplateOutlet="timeline; context: {$implicit: series}"></ng-container>
            </div>
        </div>
    </nb-card-body>
    
</nb-card>

<ng-template #table>
    <ngx-datatable
        class="bootstrap"
        [rows]="data"
        [count]="data.length"
        columnMode="force"
        default>
        <!-- <ngx-datatable-column name="Project"></ngx-datatable-column> -->
        <ngx-datatable-column name="Phases">
            <ng-template let-row="row">
                <button nbButton *ngFor="let stat of row.phases">
                    {{stat}}+
                    <nb-icon icon="check"></nb-icon>
                </button>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Periode"></ngx-datatable-column>
    </ngx-datatable>
</ng-template>

<ng-template #timeline let-series>
    <!-- {{series | json}} -->
    <ng-container *ngIf="series">
        <apx-chart 
            [title]="chartOptions.title"
            [series]="series ?? [{data:{}}]"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [yaxis]="chartOptions.yaxis"
            [grid]="chartOptions.grid"
            [plotOptions]="chartOptions.plotOptions"
            [dataLabels]="chartOptions.dataLabels"
        ></apx-chart>
    </ng-container>
</ng-template>