<nb-card>
    <nb-card-header>
        <button nbButton *ngFor="let button of topButton" status="primary" size="small" shape="rectangle" class="mx-1" outline>
            <nb-icon [icon]="button.icon" pack="eva"></nb-icon>
            {{button.desc}}
        </button>
    </nb-card-header>
    <nb-card-header class="justify-content-between d-flex" >
        <div>
            <button nbButton *ngFor="let button of leftButton" status="primary" size="small" shape="rectangle" class="mx-1" outline (click)="clickButton(button.desc)">
                <nb-icon [icon]="button.icon" pack="eva"></nb-icon>
                {{button.desc}}
            </button>

            <button nbButton status="primary" size="small" (click)="curve.checked=!curve.checked" class="mx-1" outline>
                <input #curve type="checkbox" style="visibility: hidden;" class="position-absolute">
                <nb-icon icon="activity-outline" pack="eva"></nb-icon>
                S Curve
            </button>
        </div>

        <div>
            <button *ngFor="let button of rightButton" nbButton status="primary" class="mx-1" outline size="tiny">
                {{button}}
            </button>
        </div>
    </nb-card-header>

    <nb-card-body>
        <!-- <gantt></gantt> -->
        <div class="d-flex">
            <div style="width: 350px">
                <ngx-datatable
                    class="bootstrap"
                    [rows]="trackingData"
                    [count]="trackingData"
                    columnMode="force"
                    [scrollbarH]="true"
                    default>
                    <ngx-datatable-column name="Ship Name" prop="nama_kapal" routeLink="/">
                        <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                            <a class="text-primary text-decoration-none" 
                            style="cursor: pointer;" 
                            [routerLink]="['/pages/report-batera', row.id_proyek]" 
                            [data] = 'row'>{{row['nama_kapal']}}</a>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Phases">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <nb-icon *ngFor="let stat of row.phases" [ngStyle]="{'color': stat ? 'green' : 'red'}" [icon]="stat ? 'checkmark-square-2-outline' : 'close-square-outline'"></nb-icon>
                        </ng-template>
                    </ngx-datatable-column>
                        <ngx-datatable-column name="Periode">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.periode | date:'shortDate'}} - {{row.updated_at | date:'shortDate'}}
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
            <div *ngIf="series" style="flex: 1; margin-top: 1.2em; position: relative;">
                <apx-chart 
                    [title]="chartOptions.title"
                    [series]="series"
                    [chart]="chartOptions.chart"
                    [xaxis]="chartOptions.xaxis"
                    [yaxis]="chartOptions.yaxis"
                    [grid]="chartOptions.grid"
                    [plotOptions]="chartOptions.plotOptions"
                    [dataLabels]="chartOptions.dataLabels"
                ></apx-chart>
                
                <div *ngIf="!curve.checked" class="position-absolute w-100 h-100" style="left: 0; top: 0;">
                    <apx-chart
                        [series]="lineChartOption.series"
                        [chart]="lineChartOption.chart"
                        [stroke]="lineChartOption.stroke"
                        [legend]="lineChartOption.legend"
                        [dataLabels]="lineChartOption.dataLabels"
                        [grid]="lineChartOption.grid"
                        [yaxis]="lineChartOption.yaxis"
                        [xaxis]="lineChartOption.xaxis"
                    ></apx-chart>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>

<ng-template #table>
    <ngx-datatable
        class="bootstrap"
        [rows]="data"
        [count]="data.length"
        columnMode="force"
        default>
        <ngx-datatable-column name="Phases">
            <ng-template let-row="row">
                <button nbButton *ngFor="let stat of row.phases">
                    {{stat}}+
                    <nb-icon icon="check"></nb-icon>
                </button>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Periode"></ngx-datatable-column>
    </ngx-datatable>
</ng-template>

<ng-template #timeline let-series>
    <!-- {{series | json}} -->
    <ng-container *ngIf="series">
        
    </ng-container>
</ng-template>