<nb-card>
    <nb-card-header>
        <nb-button-group (valueChange)="vesselFilter($event)">
            <button *ngFor="let button of topButton;" shape="rectangle" [pressed]="button.desc === 'Default'" nbButtonToggle [value]="button">
                <nb-icon [icon]="button.icon" pack="eva"></nb-icon>
                {{button.desc}}
            </button>
        </nb-button-group>
    </nb-card-header>

    <nb-card-body>
        <ngx-datatable
            [class]="'bootstrap'"
            [rows]="trackingData"
            [count]="trackingData"
            columnMode="force"
            default
            style="background-color: transparent;">
            <ngx-datatable-column name="Ship Name" prop="nama_kapal" routeLink="/">
                <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                    <a class="text-primary text-decoration-none" 
                    style="cursor: pointer;" 
                    [routerLink]="['/pages/report-batera', row.id_proyek]" 
                    [data] = 'row'>{{row['nama_kapal']}}</a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Year">
                <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.year}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Phases">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <nb-icon *ngFor="let stat of row.phases" [ngStyle]="{'color': stat ? 'green' : 'red'}" [icon]="stat ? 'checkmark-square-2-outline' : 'close-square-outline'"></nb-icon>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Periode">
                <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.start | date:'shortDate'}} - {{row.end | date:'shortDate'}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button nbButton size="tiny" status='primary' outline (click)="showGantChart(row)">
                         Gant Chart
                    </button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable> 
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-header class="justify-content-between d-flex" >    
        <div>
            <button nbButton *ngFor="let button of leftButton" status="primary" size="small" shape="rectangle" class="mx-1" outline (click)="clickButton(button.desc)">
                <nb-icon [icon]="button.icon" pack="eva"></nb-icon>
                {{button.desc}}
            </button>
            <button nbButton status="primary" size="small" (click)="curve.checked=!curve.checked" class="mx-1" outline>
                <input #curve type="checkbox" style="visibility: hidden;" class="position-absolute">
                <nb-icon icon="activity-outline" pack="eva"></nb-icon>
                S Curve
            </button>
        </div>
        <div>
            <input #viewMode type="text" style="visibility: hidden;" class="position-absolute">
            <button *ngFor="let button of rightButton" (click)="viewMode.value=button" nbButton status="primary" class="mx-1" outline size="tiny">
                {{button}}
            </button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row" style="min-width: 800px;">
            <div class="col-4 pr-0">
                <ngx-datatable
                    class="bootstrap custom"
                    [rows]="tasks"
                    [count]="tasks.length"
                    [scrollbarH]="true"
                    default
                    style="background-color: transparent;">
                    <ngx-datatable-column name="#" [width]="8">
                        <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                            {{rowIndex+1}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Uraian Pekerjaan" prop="name"></ngx-datatable-column>
                    <ngx-datatable-column name="Jumlah Harga">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.price | currency:'IDR'}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Bobot (%)" prop="weight">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.weight | number:'2.1'}}
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
            <div class="col-8 pl-0">
                <f-gantt [showSCurve]="curve.checked" [viewMode]="viewMode.value" [tasks]="tasks"></f-gantt>
            </div>
        </div>
    </nb-card-body>
</nb-card>

