<nb-card >
  <nb-card-header class="d-flex justify-content-between">
    <strong>{{data.dial}} Project</strong>
    <button nbButton status="danger" size="tiny" (click)="close()">
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <form class="row" #newProjectForm="ngForm" (ngSubmit)="submitProject(newProjectForm)" >
      <div class="left_side col-6">
        <!-- <input type="text" (click)="testtrigger(dateButton)">
        <button type="button" #dateButton (click)="triggerButton()" style="display: none;"></button> -->

        <label for="Vessel Name" class="d-block text-muted">Vessel</label>
        <nb-select class="w-100" [placeholder]=" projectData.kapal?.nama_kapal || 'Vessel Name'" size="small" required [ngModel]="projectData.kapal?.nama_kapal" #vessel name="id_kapal" [disabled]="disabledData">
          <nb-option [value]="newProjectMenu.vessel[id].id_kapal"  *ngFor="let vessel of newProjectMenu.vessel; let id=index;">{{vessel.nama_kapal}}</nb-option>
        </nb-select>
        <label for="Year Project" class="d-block text-muted">Year Project</label>
        <input type="number" nbInput class="w-100" placeholder="Year Of Project" fieldSize="small" name="tahun" required #yearProject [ngModel]="projectData?.tahun" [disabled]="disabledData">
        <label for="Ship Management" class="text-muted d-block">Ship Management</label> 
        <input type="text" class="w-100" readonly [placeholder]="newProjectMenu.shipManagement || 'Complete the company profile first'" nbInput fieldSize="small">
        <label for="Responsible" class="d-block text-muted">Responsible</label> 
        <nb-select class="w-100" placeholder="Responsible" size="small" #responsible [ngModel]="data.project?.id_user" name="id_user" required>
          <nb-option [value]="newProjectMenu.responsible[id].id_user" *ngFor="let status of newProjectMenu.responsible; let id=index;">{{status.nama_lengkap}}</nb-option>
        </nb-select>
        <label for="Phase" class="d-block text-muted">Phase</label>
        <nb-select class="w-100" placeholder="Phase" size="small" #phase [ngModel]="projectData?.phase" name="phase" required>
          <nb-option [value]="newProjectMenu.Phase[id]" *ngFor="let status of newProjectMenu.phase; let id=index;">{{status}}</nb-option>
        </nb-select>
        <label for="Base Currency" class="text-muted d-block" fieldSize="small">Base Currency</label>
        <nb-select class="w-100" placeholder="Base Currency" size="small"  #currency [ngModel]="projectData?.mata_uang" name="mata_uang" required>
          <nb-option [value]="newProjectMenu.BaseCurrency[id]" *ngFor="let status of newProjectMenu.BaseCurrency; let id=index;">{{status}}</nb-option>
        </nb-select>
      </div>

      <div class="right_site col-6">
        <label for="Off Hire Period" class="d-block text-muted">Off Hire Period</label>
        <nb-rangepicker #offHirePeriodDate ></nb-rangepicker>  
        <input fieldSize="small" class="w-100" type="text" required nbInput shape="rectangle" placeholder="Pick Date" [nbDatepicker]="offHirePeriodDate" name="offHirePeriod" #offHirePeriod (ngModel)="offHirePeriod">
        <label for="Deviation" class="d-block text-muted">- Deviation</label>
        <input type="number" class="w-100" nbInput required fieldSize="small" placeholder="Add Deviation Days" name="off_hire_deviasi" #deviation [ngModel]="projectData?.off_hire_deviasi">
        <label for="Charter Rate" class="d-block text-muted" >- Charter Rate</label>
        <input type="text" class="w-100" nbInput required fieldSize="small" placeholder="Charter Rate" name="off_hire_rate_per_day" #charterRate [ngModel]="projectData?.off_hire_rate_per_day">
        <label for="Bunker" class="d-block text-muted" >- Bunker Rate</label>
        <input type="text" class="w-100" nbInput required fieldSize="small" placeholder="Bunker Rate" name="off_hire_bunker_per_day" #bunker [ngModel]=" projectData?.off_hire_bunker_per_day">
        <!-- <label for="Repair Period" class="d-block text-muted">Repair Period</label>
        <nb-rangepicker #repairPeriodDate ></nb-rangepicker>  
        <input fieldSize="small" class="w-100" type="text" nbInput shape="rectangle" placeholder="Pick Date" [nbDatepicker]="repairPeriodDate" name="repairPeriod" #repairPeriod (ngModel)="repairPeriod"> -->
        <label for="In Dock" class="d-block text-muted">Repair Period In Dock</label> 
        <nb-rangepicker #inDockDate></nb-rangepicker>
        <input fieldSize="small" class="w-100" type="text" nbInput required shape="rectangle" placeholder="Pick Date" [nbDatepicker]="inDockDate" name="repairInDock" [disabled]="!offHirePeriod.value" #repairInDock (ngModel)="repairInDock">
        <label for="Additional Day" class="d-block text-muted" >Repair Period Additional Day</label>
        <input type="number" class="w-100" nbInput required fieldSize="small" placeholder="Add Additional Day" name="repair_additional_day" [disabled]="!repairInDock.value" #additionalDay [ngModel]="projectData?.repair_additional_day" >
      </div>
      <button nbButton class="m-3 w-100" status="success" type="submit" [disabled]="!newProjectForm.form.valid">{{data.dial}} Project</button>
    </form>
  </nb-card-body>
</nb-card> 