<nb-card>
    <nb-card-body>
        <div class="buttons m-2" >
            <button *ngFor="let icon of useIcons; let indexOfelement=index;"
            nbButton outline size = "tiny"  status = "primary" class="mx-1" routerLink="/pages/report-batera/sub-menu-report">
                <nb-icon [icon]="icon.icon" pack="eva">
                </nb-icon>
                {{icon.desc}}
            </button>
        </div>
        <ngx-datatable 
        [class]="'bootstrap'" 
        [rows]="shipData" 
        [count]="shipData.length"
        [scrollbarH]="true"
        [columnMode]="'force'"
        class="row"
        [rowHeight]="'auto'"
        default>
            <ngx-datatable-column [name]="'No'" [width]="50">
                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    {{rowIndex+1}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [name]="'Tanggal'" [width]="50">
                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    _
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [name]="'Perihal/Title'" [width]="50">
                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    _
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [name]="'Nama Pengirim/Pembuat'" prop="vessel">
            <ng-template let-row="row" ngx-datatable-cell-template>
                _
            </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [name]="'Last View'" prop="">
            <ng-template let-row="row" ngx-datatable-cell-template>
                _
            </ng-template>  
            </ngx-datatable-column>

            <ngx-datatable-column [name]="'Keterangan/Remarks'" prop="">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    _
                </ng-template>  
            </ngx-datatable-column>
            <ngx-datatable-column [name]="'Add File'" prop="">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button nbButton size="tiny" status="success">
                        Add File
                    </button>
                </ng-template>  
            </ngx-datatable-column>
        </ngx-datatable>
    </nb-card-body>
</nb-card>
