<nb-card>
    <table mat-table [dataSource]="progressData" class="mat-elevation-z8 w-100">
        <tr mat-header-row *matHeaderRowDef="statusColumn"></tr>
        <tr mat-row *matRowDef="let row; columns: statusColumn;"></tr>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Totals </th>
            <td mat-cell *matCellDef="let element; let i = index">{{element.name || '0'}}</td>
        </ng-container>

        <ng-container matColumnDef="Budget">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Budget </th>
            <td mat-cell *matCellDef="let element ;let i = index" class="text-center"> {{element.budget || '0'}} </td>
        </ng-container>

        <ng-container matColumnDef="Contract">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Contract </th>
            <td mat-cell *matCellDef="let element" class="text-center">{{element.contract || '0'}} </td>
        </ng-container>

        <ng-container matColumnDef="Actual">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Actual </th>
            <td mat-cell *matCellDef="let element" class="text-center">{{element.actual || '0'}}  </td>
        </ng-container>
    </table>
</nb-card>