<nb-flip-card [showToggleButton]="false" [flipped]="flipped">
    <nb-card-front>
      <nb-card size="tiny">
        <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon" (click)="toggleView()"></nb-icon>
        <img src="{{image.imageSrc}}" alt="image.imageAlt">
      </nb-card>
    </nb-card-front>
    <nb-card-back>
      <nb-card size="tiny">
        <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon" (click)="toggleView()"></nb-icon>
      </nb-card>
    </nb-card-back>
    <h6>Speedo 01</h6>
</nb-flip-card>


  