<div class="buttons my-1" >
    <button *ngFor="let icon of useButtons; let indexOfelement=index;"
    nbButton outline size = "tiny"  status = "primary" class="mx-1" (click)="onClick(icon.desc)">
        <nb-icon [icon]="icon.icon" pack="eva">
        </nb-icon>
        {{icon.desc}}
    </button>
</div>
<div style="overflow: auto; width: 100%;">
    <div style="width: 2000px;">
        <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">
            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns" [clickToToggle]="false"></tr>
            
            <ng-container [nbTreeGridColumnDef]="'Approved'" class="text-center">
                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef style="width: 200px;" class="text-center">Approved</th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row" class="text-center">
                    <button class="btn btn-light btn-sm mx-2" nbPopover="By Ship Yard" nbPopoverTrigger="hint" nbPopoverPlacement="left">
                        <nb-icon icon="checkmark-square-2-outline"></nb-icon>
                    </button>
                    <button class="btn btn-light btn-sm mx-2" nbPopover="By Ship Owner" nbPopoverTrigger="hint" nbPopoverPlacement="right">
                        <nb-icon icon="checkmark-square-2-outline"></nb-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container [nbTreeGridColumnDef]="'Job'">
                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Job</th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                    <ngx-fs-icon [kind]="row.data.kind" [expanded]="row.expanded"></ngx-fs-icon>
                      {{row.data['Job'] || '-'}}
                </td>
            </ng-container>
            
            <ng-container [nbTreeGridColumnDef]="'Comment'">
                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Comment</th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row" class="text-center">
                    <button class="btn btn-light btn-sm">
                        <nb-icon icon="file-text-outline"></nb-icon>
                    </button>
                </td>
            </ng-container>

                        
            <ng-container [nbTreeGridColumnDef]="'edit'">
                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef></th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row" class="text-center">
                    <button class="btn btn-light btn-sm" (click)="onClick(row)">
                        <nb-icon icon="edit-outline"></nb-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container *ngFor="let column of defaultColumns; let index = index"
                            [nbTreeGridColumnDef]="column"
                            [showOn]="getShowOn(index)">
                <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
                {{column}}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || '-'}}</td>
            </ng-container>
        </table>    
    </div>
</div>

