<nb-card>
    <nb-card-header class="d-flex justify-content-between">
        <span><strong>ADD SUBJOB : {{jobName}} </strong></span> 
        <button nbButton status="danger" size="small" (click)="close()">
            <nb-icon icon="close-outline" size="medium"></nb-icon>
        </button>   
    </nb-card-header>
    <nb-card-body>
    <form  (keyup.enter)="$event.target.value" #addWorkArea="ngForm" (ngSubmit)="add(addWorkArea)">
        <div class="row">
            <div class="col-6">
                <span class="p-2 d-block"><strong>Job Number</strong></span>
                <input type="text" nbInput fullWidth placeholder="Job Number" id="jobNumber" fieldSize="small" required #sfi name="sfi" (ngModel)="sfi">
                <div *ngIf="sfi.invalid && (sfi.dirty || sfi.touched)"
                class="danger text-danger">
                    <div *ngIf="sfi.errors?.['required']">
                    Job Number is required.
                    </div>
                </div>
                <span class="p-2 d-block"><strong>Job</strong></span>
                <input type="text" nbInput fullWidth placeholder="Job" fieldSize="small" required (ngModel)="pekerjaan" #pekerjaan name="pekerjaan">
                <span class="p-2 d-block">Departement</span>
                <input type="text" nbInput fullWidth placeholder="Departement" id="departement" fieldSize="small" required (ngModel)="departement" name="departemen" #departement>
                <span class="p-2 d-block">Responsible</span>
                <nb-select placeholder="Responsible" class="w-100" size="small" ngModel name="responsible">
                    <nb-option *ngFor="let value of responsible; let id=index;" [value]="responsible[id].toLowerCase()">{{value}}</nb-option>
                </nb-select>
                <span class="p-2 d-block">Start</span>
                <input [nbDatepicker]="startdatepicker" nbInput fullWidth fieldSize="small" placeholder="Start Date" (ngModel)="startDate" name="start" #startDate>
                <nb-datepicker #startdatepicker></nb-datepicker>
                <span class="p-2 d-block">End</span>
                <input [nbDatepicker]="enddatepicker" nbInput fullWidth fieldSize="small" placeholder="End Date" (ngModel)="endDate" name="end" #endDate>
                <nb-datepicker #enddatepicker></nb-datepicker>
            </div>
            <div class="col-6">
                <span class="p-2 d-block">Volume</span>
                <input type="text" nbInput fullWidth placeholder="Volume" id="volume" fieldSize="small" required (ngModel)="volume" name="volume" #volume (change)="totalPriceBudget = volume.value * unitPrice.value">
                <span class="p-2 d-block">Unit</span>
                <nb-select placeholder="Unit" class="w-100" size="small" name="satuan" ngModel >
                    <nb-option *ngFor="let value of useUnit; let id=index;" [value]="useUnit[id]">{{value}}</nb-option>
                </nb-select>
                <span class="p-2 d-block">Unit Price</span>
                <input type="text" nbInput fullWidth placeholder="Unit Price" id="unitPrice" fieldSize="small" required (ngModel)="unitPrice" name="harga_satuan"  (change)="totalPriceBudget = volume.value * unitPrice.value" #unitPrice>
                <span class="p-2 d-block">Total Price Budget</span>
                <input type="text" nbInput fullWidth placeholder="Total Price Budget" id="totalPriceBudget" readonly fieldSize="small" required [(ngModel)]="totalPriceBudget" name="totalPrice">
                <span class="p-2 d-block">Category</span>
                <nb-select placeholder="Category" class="w-100" size="small" name="kategori" ngModel>
                    <nb-option *ngFor="let value of category; let id=index;" [value]="category[id].toLowerCase()">{{value}}</nb-option>
                </nb-select>
                <span class="p-2 d-block">Rank</span>
                <nb-select placeholder="Rank" class="w-100" size="small" name="rank" ngModel >
                    <nb-option *ngFor="let value of rank; let id=index;" [value]="rank[id]">{{value}}</nb-option>
                </nb-select>
            </div>
        </div>
        <button type="submit" nbButton status="success" class="m-2" fullWidth>Submit</button>
    </form>
    </nb-card-body>
</nb-card>

