<nb-card>
    <nb-card-header class="d-flex justify-content-between">
        <h5>ADD JOB</h5> 
        <button nbButton status="danger" size="small" (click)="close()">
            <nb-icon icon="close-outline" size="medium"></nb-icon>
        </button>   
    </nb-card-header>
    <nb-card-body>
    <form  (keyup.enter)="$event.target.value" (ngForm)="updateUserForm">
        <div class="row">
            <div class="col-6">
                <span class="p-2 d-block">Job Number</span>
                <input type="text" nbInput fullWidth placeholder="Job Number" class="form-control" id="jobNumber" fieldSize="small" required #jobNumber (ngModel)="jobNumber">
                <span class="p-2 d-block">Job</span>
                <input type="text" nbInput fullWidth placeholder="Job" fieldSize="small" required (ngModel)="job" #job>
                <span class="p-2 d-block">Departement</span>
                <input type="text" nbInput fullWidth placeholder="Departement" id="departement" fieldSize="small" required (ngModel)="departement" name="departement" #departement>
                <span class="p-2 d-block">Responsible</span>
                <input type="text" nbInput fullWidth placeholder="Responsible" id="responsible" fieldSize="small" required (ngModel)="responsible" name="responsible" #responsible>
                <span class="p-2 d-block">Start</span>
                <input type="text" nbInput fullWidth placeholder="Start Date" id="start" fieldSize="small" required (ngModel)="start" name="start" #start>
                <span class="p-2 d-block">Stop</span>
                <input type="text" nbInput fullWidth placeholder="Stop Date" id="stop" fieldSize="small" required (ngModel)="stop" name="stop" #stop>
            </div>
            <div class="col-6">
                <span class="p-2 d-block">Volume</span>
                <input type="text" nbInput fullWidth placeholder="Volume" id="volume" fieldSize="small" required (ngModel)="volume" name="volume" #volume>
                <span class="p-2 d-block">Unit</span>
                <input type="text" nbInput fullWidth placeholder="Unit" id="unit" fieldSize="small" required (ngModel)="unit" name="unit" #unit>
                <span class="p-2 d-block">Unit Price</span>
                <input type="text" nbInput fullWidth placeholder="Unit Price" id="unitPrice" fieldSize="small" required (ngModel)="unitPrice" name="unitPrice" #unitPrice>
                <span class="p-2 d-block">Total Price Budget</span>
                <input type="text" nbInput fullWidth placeholder="Total Price Budget" id="totalPriceBudget" fieldSize="small" required (ngModel)="totalPriceBudget" name="totalPriceBudget" #totalPriceBudget>
                <span class="p-2 d-block">Category</span>
                <input type="text" nbInput fullWidth placeholder="Category" id="cactegory" fieldSize="small" required (ngModel)="cactegory" name="cactegory" #cactegory>
            </div>
        </div>

        <button type="submit" nbButton status="success" class="my-2" fullWidth>Submit</button>
    </form>
    </nb-card-body>
</nb-card>

