<nb-card>
    <nb-card-header class="d-flex justify-content-between">
        <div>
            <strong>{{data.dial}} Job </strong>
            <span *ngIf="data.dial !== 'Add'" class="text-primary">: {{modelData?.head}}</span>
        </div>
        <button nbButton status="danger" size="tiny" (click)="close()">
            <nb-icon icon="close-outline" size="medium"></nb-icon>
        </button>   
    </nb-card-header>
    <nb-card-body>
    <form  (keyup.enter)="$event.target.value" #addWorkArea="ngForm" (ngSubmit)="workAreaBtn(addWorkArea)">
        <div class="row">
            <div class="col-4">
                <div *ngIf="data.dial !== 'Work Progress'">
                    <span class="p-2 d-block"><strong>Job Number</strong></span>
                    <input type="text" nbInput fullWidth placeholder="Job Number" id="jobNumber" fieldSize="small" required #sfi name="jobNumber" [ngModel]="modelData.jobNumber" [disabled]="disabledJob">
                    <div *ngIf="sfi.invalid && (sfi.dirty || sfi.touched)"
                    class="danger text-danger">
                        <div *ngIf="sfi.errors?.['required']">
                        Job Number is required.
                        </div>
                    </div>
                    <span class="p-2 d-block"><strong>Job</strong></span>
                    <input type="text" nbInput fullWidth placeholder="Job" fieldSize="small" required [ngModel]="modelData.Job" #pekerjaan name="jobName" [disabled]="disabledJob">
                </div>
                <div *ngIf="data.dial === 'Work Progress'">
                    <span class="p-2 d-block"><strong>Status</strong></span>
                    <nb-select [placeholder]="modelData?.status?.name || 'Status'" class="w-100" size="small" name="status" [ngModel]="modelData.status" >
                        <nb-option *ngFor="let value of status; let id=index;" [value]="id">{{value}}</nb-option>
                    </nb-select>
                    <span class="p-2 d-block"><strong>Progress</strong></span>
                    <input type="number" nbInput fullWidth placeholder="Status" fieldSize="small" required [ngModel]="modelData.progress" #progress name="progress">
                </div>
                <span class="p-2 d-block">Start</span>
                <input [nbDatepicker]="startdatepicker" nbInput fullWidth fieldSize="small" placeholder="Start Date" [ngModel]="modelData.start" name="start" #startDate>
                <nb-datepicker #startdatepicker></nb-datepicker>
                <span class="p-2 d-block">End</span>
                <input [nbDatepicker]="enddatepicker" nbInput fullWidth fieldSize="small" placeholder="End Date" [ngModel]="modelData.end" name="end" #endDate>
                <nb-datepicker #enddatepicker></nb-datepicker>
            </div>
            <div class="col-4">
                <span class="p-2 d-block">Volume</span>
                <input type="number" nbInput fullWidth placeholder="Volume" id="volume" fieldSize="small" required [ngModel]="modelData.Vol" name="volume" #volume (change)="totalPrice = volume.value * unitPrices.value">
                <span class="p-2 d-block">Unit</span>
                <nb-select [placeholder]="modelData?.unit?.name || 'Unit'" class="w-100" size="small" name="unit" [ngModel]="modelData.unit" >
                    <nb-option *ngFor="let value of unitType; let id=index;" [value]="id">{{value}}</nb-option>
                </nb-select>

                <span class="p-2 d-block">Unit {{unitPriceLabel}}</span>
                <input type="number" nbInput fullWidth placeholder="Unit Price" fieldSize="small" required [ngModel]="modelData[unitPriceLabel]" [name]="unitPriceLabel" #unitPrices (change)="totalPrice = volume.value * unitPrices.value">
                <span class="p-2 d-block">Total {{unitPriceLabel}}</span>
                <input type="text" nbInput fullWidth placeholder="Total Price Budget" readonly fieldSize="small" required [(ngModel)]="totalPrice" [name]="unitPriceLabel">


            </div>
            <div class="col-4">
                <span class="p-2 d-block">Departement</span>
                <input type="text" nbInput fullWidth placeholder="Departement" id="departement" fieldSize="small" required [ngModel]="modelData.departement" name="departement" #departement>
                <span class="p-2 d-block">Responsible</span>
                <nb-select [placeholder]="modelData.responsible?.name || 'Responsible'" class="w-100" size="small" [ngModel]="modelData.responsible" name="responsible">
                    <nb-option *ngFor="let value of responsible; let id=index;" [value]="responsible[id]">{{value.name}}</nb-option>
                </nb-select>
                <span class="p-2 d-block">Category</span>
                <nb-select [placeholder]="modelData.category?.name || 'Category'" class="w-100 text-capitalize" size="small" name="category" [ngModel]="modelData.category">
                    <nb-option *ngFor="let value of category; let id=index;" [value]="id" class="text-capitalize">{{value}}</nb-option>
                </nb-select>
                <span class="p-2 d-block">Rank</span>
                <nb-select [placeholder]="modelData.rank?.name || 'Rank'" class="w-100" size="small" name="rank" [ngModel]="modelData.rank" >
                    <nb-option *ngFor="let value of rank; let id=index;" [value]="id">{{value}}</nb-option>
                </nb-select>
            </div>
        </div>
        <span class="d-block my-1">Remarks</span>
        <textarea rows="3" nbInput fullWidth name="remarks" #remarks [ngModel]="modelData.Remarks"></textarea>
        <button type="submit" nbButton status="success" class="m-2" fullWidth>Submit</button>
    </form>
    </nb-card-body>
</nb-card>

