@import '../../pages.component.scss';

ul {
    li {
        text-decoration: none;
        list-style-type: none;
    }
}

h5 {
    color: burlywood;
}

li {
    background-color: transparent;
}

span {
    color: var(--font-blue);
}
