<nb-card class="p-3">  
  <div class="row">
    <div *ngIf="allDataTender" class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
      <div class="d-flex justify-content-between">
        <h5>Selected Yard : <Span class="text-capitalize">{{dataTable['Yard'] || ''}}</Span></h5>
        <div>
          <button nbButton size="tiny" class="mx-1" status="danger"  (click)="unselectTender()" outline [disabled]="!id_tender">Unselect Tender</button>
          <button nbButton size="tiny" class="mx-1" status="primary"  (click)="addContractDial()" [disabled]="!id_proyek">Add Contract</button>
        </div> 
      </div>
          <div>
            <span class="d-block label">Project Name</span>  
            <nb-select *ngIf="allDataTender" placeholder="Project Name" size="small" fullWidth class="w-100" #projectName (ngModel)="projectName" name="id_proyek" class="m-1">
              <nb-option *ngFor="let value of allDataTender['project']; let id=index;" [value]="allDataTender['project'][id]" (click)="getProject(id)" #projectNameVal>{{value.name}}</nb-option>
            </nb-select>
            <span class="d-block label">Yard Name</span>
            <nb-select *ngIf="allDataTender" [placeholder]="allDataTender.yard || 'Select Yard'" size="small" fullWidth class="w-100" [disabled]="enableSelectYard" #selectedYard class="m-1">
              <nb-option *ngFor="let value of allDataTender?.['yard']; let id=index;" [value]="allDataTender?.['yard'][id]" (click)="getYard(projectNameVal)">{{value.name}}</nb-option>
            </nb-select>
            <span class="d-block label">Yard Location</span> 
            <span class="d-block text-capitalize">{{dataTable['Yard Location'] || 'Data Not Available'}}</span>
            <span class="d-block label">Responsible</span>
            <span class="d-block text-capitalize">{{dataTable['Responsible'] || 'Data Not Available'}}</span>
            <span class="d-block label">Contract Number</span> 
            <span class="d-block text-capitalize">{{dataTable['Contract'] || 'Data Not Available'}}</span>
            <span class="d-block label">Yard Quote</span> 
            <span class="d-block text-capitalize">{{dataTable['Yard Quote'] || 'Data Not Available'}}</span>
            <span class="d-block label">Comment</span>
            <p class="d-block">{{dataTable['comment'] || 'Data Not Available'}}</p>
          </div>

        </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
      <nb-card class="p-3">
        <div *ngFor="let item of objectKeys(dataTable)">
            <div *ngIf="item != 'General Discount'&& item !='Additional Discount' else discount " class="row" >
                <div class="col-6"><strong>{{item}}</strong></div>
                <div class="">:</div>
                <div class="col text-capitalize text-right">{{dataTable?.[item]}}</div>
            </div>
            <ng-template #discount>
              <div class="row">
                <strong class="col-6">{{item}} </strong>
                <div class="">:</div>
                <div class="col text-right">({{dataTable?.[item].discount}} %) {{dataTable?.[item].after}}  </div>
              </div>
            </ng-template>
        </div>
        <div class="text-center mt-3">
            <button nbButton class="mx-1" status="primary" outline size="small">Preview</button>
        </div>
      </nb-card>
    </div>
  </div>
</nb-card>

<nb-accordion>
  <nb-accordion-item>
    <nb-accordion-item-header >Load Details</nb-accordion-item-header>
    <nb-accordion-item-body>
      <button nbButton class="m-1" status="primary" outline type="button" size="small" (click)="triggerSelectFile(addFromFile)">
        Add From File
      <input type="file" style="display: none;" #addFromFile>
      </button>
      <div style="overflow: auto; width: 100%;">
        <div style="width: 1524px;">
          <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" equalColumnsWidth>
            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns" [clickToToggle]="false"></tr>
            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns" [clickToToggle]="false"></tr>
            <ng-container [nbTreeGridColumnDef]="'Job No'">
              <th nbTreeGridHeaderCell  *nbTreeGridHeaderCellDef style="width: 90px">Job No.</th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row" >
                <ngx-fs-icon [kind]="row.data.kind" [expanded]="row.expanded"></ngx-fs-icon>
                {{row.data['Job No']}}
              </td>
            </ng-container>
            <ng-container [nbTreeGridColumnDef]="'rank'">
              <th nbTreeGridHeaderCell  *nbTreeGridHeaderCellDef style="width: 50px"></th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row" >
                <nb-icon icon="alert-circle-outline" [ngStyle]="{'color' : subMenuProject.rankColor(row.data['rank'])}"></nb-icon>
              </td>
            </ng-container>
            <ng-container [nbTreeGridColumnDef]="'Approve'">
              <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef style="width: 150px">
                <div class="text-center">
                  <nb-select placeholder="Approval" size="tiny" fullWidth class="w-100" #approval (ngModel)="approval" name="approvalStatus" class="m-1">
                    <nb-option *ngFor="let value of approvalStatus; let id=index;" [value]="approvalStatus[id]" (click)="approveStatus(id)">{{value}}</nb-option>
                  </nb-select>
                </div>
              </th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row" class="text-center">
                <button class="text-center" nbButton ghost >
                  <nb-icon [icon]="approvalStatus ?  'checkmark-square-2-outline' :  'square-outline'" status="primary"></nb-icon>
                </button>
              </td>
            </ng-container>

            <ng-container [nbTreeGridColumnDef]="'Edit'">
                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef style="width: 80px"></th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row" class="text-center">
                  <button class="btn btn-light btn-sm text-center" nbButton ghost (click)="editLoadDetails(row)">
                      <nb-icon icon="edit-outline" status="primary"></nb-icon>
                  </button>
                </td>
            </ng-container>

            <ng-container [nbTreeGridColumnDef]="'Resp'">
              <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef style="width: 80px">Resp</th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row" class="text-center">{{row.data.Resp.name}}
              </td>
          </ng-container>

            <ng-container *ngFor="let column of defaultColumns; let index = index"
                          [nbTreeGridColumnDef]="column"
                          [showOn]="getShowOn(index)">
                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef style="width: 150px">{{column}}</th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || '-'}}</td>
            </ng-container>
          </table>
        </div>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>