<nb-card class="p-3">
    <div class="header d-inline-block">
        <strong>Yard</strong> <br>
        <span>Marcopolo</span>
    </div>
    <div *ngFor="let item of objectKeys(dataTable)" class="row">
        <div class="col-lg col-xl-4 col-md"><strong>{{item}}</strong></div>
        <div class="col-auto">:</div>
        <div class="col text-right">{{dataTable[item]}}</div>
    </div>
    <div class="text-center">
        <button nbButton status="success">Select Yard</button>
    </div>
</nb-card>