<!-- <nb-layout>
    
    <nb-layout-column>
        <nb-card>
            <nb-card-body class="d-flex">
                <h6 class="col-3 fs-6 text-center">Kalender Pelaksanaan Diklat</h6>
                <full-calendar class="col-9" [options]="calendarOptions"></full-calendar>
            </nb-card-body>
        </nb-card>
        <nb-card class="col-10">
            <nb-card-body>
                <full-calendar [options]="calendarOptions"></full-calendar>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
    
</nb-layout> -->

<nb-card>
    <nb-card-body class="d-flex">
        <h6 class="col-3 fs-6 text-center">Kalender Pelaksanaan Diklat</h6>
        <full-calendar class="col-9" [options]="calendarOptions"></full-calendar>
    </nb-card-body>
</nb-card>