<nb-card>
    <nb-card-header class="d-flex justify-content-between">
        <strong>{{data?.dial}} Suplier</strong>
        <button nbButton status="danger" size="tiny" (click)="close()">
          <nb-icon icon="close-outline"></nb-icon>
        </button>
    </nb-card-header>
    <nb-card-body>
        <form action="" #suplierForm="ngForm" (ngSubmit)="onSubmit(suplierForm)">
            <div class="">
                <nb-select *ngIf="data.dial === 'Update'" placeholder="Suplier" size="medium" fullWidth required>
                    <nb-option *ngFor="let value of data?.suplier; let id=index;" (click)="modelData = value" [value]="value">{{value?.nama_supplier}}</nb-option>
                </nb-select>
                <span class="d-block">Suplier Name</span>
                <input type="text" required nbInput ngModel placeholder="Name" name="nama_supplier" #name fullWidth [ngModel]="modelData?.nama_supplier">
                <span class="d-block">Suplier Address</span>
                <textarea name="alamat" required rows="5" fullWidth ngModel nbInput #address placeholder="Supplier Address" fullWidth [ngModel]="modelData?.alamat"></textarea>
                <span class="d-block">Suplier Email</span>
                <input type="text" required nbInput ngModel placeholder="Email" name="email" #email fullWidth [ngModel]="modelData?.email">
                <span class="d-block">Suplier Mobile Number</span>
                <input type="text" required nbInput ngModel placeholder="Mobile Number" name="no_hp" fullWidth #mobile_no [ngModel]="modelData?.no_hp">
            </div>
            <button nbButton status="success" [disabled]="!suplierForm.form.valid" class="my-2" type="submit" fullWidth>
                Submit
            </button>
        </form>
    </nb-card-body>
</nb-card>