<nb-card >
    <nb-card-header>
    <h5 style="color:burlywood;">{{shipName}}</h5>
    <div class="d-flex">
        <div class="my-3" *ngFor = "let button of menuButton">
            <button *ngIf = "button.position === 'top'" (click)="btnAct(button.text)" nbButton status="primary" class="mx-1" outline size="small">
                <nb-icon icon="{{button.icon}}" pack="eva"></nb-icon>
                {{button.text}}
            </button>
        </div>
    </div>
    </nb-card-header>

    <nb-card-body>
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12" *ngIf="reportData">
                <div class="d-flex justify-content-between">
                    <h6 style="color: burlywood;">Summary</h6>
                    <button nbButton status="primary" size="small" (click)="updateProjectDial()">Update</button>
                </div>
                
                <div *ngFor = "let item of objectKeys(reportData) | keyvalue: orderOriginal">
                    <div *ngIf="reportData[item.value].type === 'text';">
                        <div class="row my-2">
                          <div class="col-5"><strong>{{item.value}}</strong></div>
                          <div class="col-7 text-capitalize" [ngClass]="reportData[item.value]?.value ? 'font-weight-normal' : 'font-weight-lighter text-muted'">{{reportData[item.value].value || 'Data Not Availlable'}}</div>
                        </div>
                    </div>
                    
                    <div *ngIf="reportData[item.value].type === 'date';">
                        <div class="row my-2">
                          <div class="col-5"><strong>{{item.value}} </strong></div>
                          <div class="col-4">{{reportData[item.value]?.value || 'Data Not Availlable'}}  days</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 col-md-12 col-sm-12">
                <ngx-table-data></ngx-table-data>
            </div>
        </div>
    </nb-card-body>
</nb-card>




<nb-card>
    <div class="d-flex" >
        <div *ngFor = "let button of menuButton" class="mx-1 my-3">
            <button *ngIf = "button.position === 'bottom'" (click)="btnAct(button.text)" nbButton status="primary" class="mx-1" outline size="small">
                {{button.text}}
            </button>
        </div>
    </div>

    <h6 class="mx-3" style="color: burlywood;">Work Area</h6>

    <div style="overflow: auto; width: 100%;">
        <div style="width: 1424px;">
            <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" style="table-layout: auto;">
                <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
                <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns" [clickToToggle]="false"></tr>

                <ng-container [nbTreeGridColumnDef]="'Job No'">
                  <th nbTreeGridHeaderCell  *nbTreeGridHeaderCellDef style="width: 100px">Job No.</th>
                  <td nbTreeGridCell *nbTreeGridCellDef="let row">
                    <ngx-fs-icon [kind]="row.data.kind" [expanded]="row.expanded"></ngx-fs-icon>
                    {{row.data['Job No']}}
                  </td>
                </ng-container>

                <ng-container [nbTreeGridColumnDef]="'Resp'">
                    <th nbTreeGridHeaderCell  *nbTreeGridHeaderCellDef style="width: 0px">Responsible</th>
                    <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.Resp.name}}
                    </td>
                </ng-container>
                
                <ng-container [nbTreeGridColumnDef]="'rank'">
                    <th nbTreeGridHeaderCell  *nbTreeGridHeaderCellDef style="width: 30px"></th>
                    <td nbTreeGridCell *nbTreeGridCellDef="let row">
                      <nb-icon icon="alert-circle-outline" [nbPopover]="row.data.rank" nbPopoverTrigger="hint" nbPopoverPlacement="top" [ngStyle]="{'color' : rankColor(row.data['rank'])}"></nb-icon>
                    </td>
                </ng-container>

                <ng-container [nbTreeGridColumnDef]="'action'">
                    <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef></th>
                    <td nbTreeGridCell *nbTreeGridCellDef="let row" class="text-center">
                        <div class="d-flex">
                            <button nbButton size="small" class="btn-sm text-center" outline (click)="subJobDial(row)"
                            nbPopover="Add Sub Job" nbPopoverTrigger="hint" nbPopoverPlacement="top">  
                                <nb-icon icon="plus-outline" status="primary"></nb-icon>
                            </button>
                            <button nbButton size="small" class="text-center mx-4" outline (click)="updateWorkAreaDial(row)"
                            nbPopover="Edit Job" nbPopoverTrigger="hint" nbPopoverPlacement="top">
                                <nb-icon icon="edit-outline" status="primary"></nb-icon>
                            </button>
                            <button nbButton size="small" class="btn-sm text-center" outline (click)="delete(row.data.id)"
                            nbPopover="Delete Job" nbPopoverTrigger="hint" nbPopoverPlacement="top">
                                <nb-icon icon="trash-outline" status="danger"></nb-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>
            
                <ng-container *ngFor="let column of defaultColumns; let index = index" [nbTreeGridColumnDef]="column" [showOn]="getShowOn(index)">
                    <div *ngIf="!addSubJob">
                        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{column}}</th>
                        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || '-'}}</td>
                    </div>
                </ng-container>

            </table>
        </div>
    </div>
</nb-card>
