<!-- <div *ngIf="subProjectData as variable"> -->
  <div *ngFor = "let item of objectKeys(reportData) | keyvalue: orderOriginal">

    <div *ngIf="reportData[item.value].type === 'drop-down';">
      <div class="row my-2">
        <div class="col-4"><strong>{{item.value}}</strong></div>
        <nb-select selected="1" class="" size="tiny" status="primary">
            <nb-option value="1" *ngFor = "let value of reportData[item.value].value">{{value}}</nb-option>
        </nb-select>
      </div> 
    </div>  
    <div *ngIf="reportData[item.value].type === 'text';">
        <div class="row my-2">
          <div class="col-4"><strong>{{item.value}}</strong></div>
          <div class="col-8">{{reportData[item.value].value}}</div>
        </div>
    </div>

    <div *ngIf="reportData[item.value].type === 'edit';">
        <div class="row my-2">
          <div class="col-4"><strong>{{item.value}}</strong></div>
          <div class="col-4">{{reportData[item.value].value}}</div>
          <button nbButton status="primary" class="mx-1" outline size="small" ghost>
            <nb-icon icon="edit-outline" pack="eva"></nb-icon>
          </button>
        </div>
    </div>
    
    <div *ngIf="reportData[item.value].type === 'date range';">
        <div class="row my-2">
          <div class="col-4"><strong>{{item.value}}</strong></div>
          <input type="text" fieldSize="small" nbInput shape="rectangle" placeholder="Pick Date Range" [nbDatepicker]="rangepicker">
          <nb-rangepicker #rangepicker></nb-rangepicker>  
        </div>
    </div>

    <div *ngIf="reportData[item.value].type === 'price';">
        <div class="row my-2">
          <div class="col-4"><strong>{{item.value}}</strong></div>
          <div class="col-4">{{reportData[item.value].value}}</div>
          <button nbButton status="primary" class="mx-1" outline size="small" ghost>
            <nb-icon icon="edit-outline" pack="eva"></nb-icon>
          </button>
          <div class="col-lg-2 col-xl-2 col-md-8 col-sm-8 text-right" >{{reportData[item.value].subvalue}}</div>
        </div>
    </div>
    
    <div *ngIf="reportData[item.value].type === 'date';">
        <div class="row my-2">
          <div class="col-4"><strong>{{item.value}}</strong></div>
          <div class="col-4">{{reportData[item.value].value}}</div>
          <button nbButton status="primary" class="mx-1" outline size="small" ghost>
            <nb-icon icon="edit-outline" pack="eva"></nb-icon>
          </button>
        </div>
    </div>

  </div>
<!-- </div> -->