<nb-card>
    <nb-card-header class="d-flex">
        <div>
            <img src="../../../assets/images/Logo Sikomodo.jpeg" alt="" class="img-thumbnail rounded" style="width: auto; height:100px">
        </div>
        <div class="mx-3">
            <h5>PT. PELAYARAN BATERA MARITIM INDONESIA</h5>
            <button outline nbButton status="primary">Ubah Profile</button>
            <button outline nbButton status="primary">Ubah Akun Pengguna</button>
        </div>
    </nb-card-header>

    <nb-card-body>
        <h6>Profil Perusahaan</h6>
        <div class="row">
            <div class="col-6">
                <span class="p-2 d-block">Nama Perusahaan</span>
                <input type="text" nbInput fullWidth placeholder="Nama Perusahaan">
                <span class="p-2 d-block">Alamat Perusahaan</span>
                <textarea rows="5" nbInput fullWidth shape="round"  placeholder="Alamat Perusahaan 01"></textarea>
                <span class="p-2 d-block">Telepon</span>
                <input type="text" nbInput fullWidth placeholder="Nomor Telepon">
                <span class="p-2 d-block">NPWP</span>
                <input type="text" nbInput fullWidth placeholder="NPWP Perusahaan">
            </div>
            <div class="col-6">
                <span class="p-2 d-block">Brand Perusahaan</span>
                <input type="text" nbInput fullWidth placeholder="Brand Perusahaan">
                <span class="p-2 d-block">Alamat Perusahaan</span>
                <textarea rows="5" nbInput fullWidth shape="round"  placeholder="Alamat Perusahaan 02"></textarea>
                <span class="p-2 d-block">Faximile</span>
                <input type="text" nbInput fullWidth placeholder="Alamat Faximile">
                <span class="p-2 d-block">E-mail</span>
                <input type="text" nbInput fullWidth placeholder="Alamat E-mail">
            </div>
        </div>
    </nb-card-body>

    <nb-card-body>
        <h6>Akun Pengguna</h6>
        <ngx-datatable 
        [class]="'bootstrap'" 
        [scrollbarH]="true"
        [rows]="data" 
        columnMode="force"
        default>
        <ngx-datatable-column [name]="'No'" [width]="50">
            <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{rowIndex+1}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'Nama Pengguna'" prop="nama_lengkap"></ngx-datatable-column>
        <ngx-datatable-column [name]="'Organisasi'" prop="no_hp"></ngx-datatable-column>
        <ngx-datatable-column [name]="'Jabatan'" prop="jabatan"></ngx-datatable-column>
        <ngx-datatable-column [name]="'Email'" prop="email"></ngx-datatable-column>
        <ngx-datatable-column [name]="'Nomor HP'" prop="no_hp"></ngx-datatable-column>
        <ngx-datatable-column [name]="'Id Pengguna'" prop="no_hp"></ngx-datatable-column>
        <ngx-datatable-column [name]="'Departemen'" prop="no_hp"></ngx-datatable-column>
        <ngx-datatable-column [name]="'Peran'" prop="no_hp"></ngx-datatable-column>
        </ngx-datatable>
    </nb-card-body>
</nb-card>