<nb-card>
    <nb-card-header class="d-flex justify-content-between">
        <strong>{{dialogData?.title}}</strong>
        <button nbButton status="danger" size="tiny" (click)="closeDialog()">
          <nb-icon icon="close-outline"></nb-icon>
        </button>
      </nb-card-header>
    <nb-card-body>
        <form #addYardForm="ngForm" (ngSubmit)="closeDialog(addYardForm.value)">
            <div class="row">
                <div class="col-6">
                    <span class="d-block my-1">Yard Name</span>
                    <input class="d-block w-100" 
                        type="text" placeholder="Yard Name" 
                        nbInput [ngModel]="dialogData.data?.nama_galangan" 
                        name="nama_galangan" fieldSize="small" required
                    >
                    <span class="d-block my-1">Yard Location</span>
                    <textarea nbInput rows="2" 
                        placeholder="Yard Location" fullWidth 
                        [ngModel]="dialogData.data?.lokasi_galangan" 
                        name="lokasi_galangan" required
                    ></textarea>
                    <span class="d-block my-1">Responsible</span>
                    <nb-select 
                        [placeholder]="dialogData.data?.responsible?.nama_lengkap || 'Responsible'" 
                        size="small" class="w-100" name="id_user" 
                        [ngModel]="dialogData.data?.id_user" 
                        [disabled]="dialogData.title === 'Update'" required
                    >
                        <nb-option 
                            *ngFor="let value of responsible; let id=index;" 
                            [value]="value.id_user"
                        >
                            {{value.nama_lengkap}}
                        </nb-option>
                    </nb-select>
                    <span class="d-block my-1">Contract Number</span>
                    <input class="d-block w-100" type="text" 
                        placeholder="Contract Number" nbInput 
                        [ngModel]="dialogData.data?.no_kontrak" name="no_kontrak" 
                        fieldSize="small" required
                    >
                    <span class="d-block my-1">Base Currency</span>
                    <nb-select [placeholder]="dialogData.data?.mata_uang || 'Base Currency'" 
                        size="small" class="w-100" name="mata_uang" [ngModel]="dialogData.data?.mata_uang" 
                        [disabled]="dialogData.title === 'Update'" required
                    >
                        <nb-option 
                            *ngFor="let value of commonFunction.baseCurrency; let id=index;" 
                            [value]="value"
                            (click)="usedCurrency = value"
                        >
                            {{value}}
                        </nb-option>
                    </nb-select>
                    <span class="d-block my-1">Yard Quote</span>
                    <input class="d-block w-100" type="text" 
                        placeholder="Yard Quote" nbInput 
                        [ngModel]="dialogData.data?.yard_total_quote" 
                        name="yard_total_quote" fieldSize="small"
                        (ngModelChange)="yardTotalQuote = commonFunction.convertToCurrency(usedCurrency, $event)"
                        [ngModel]="yardTotalQuote" required
                    >
                </div>
                <div class="col-6">
                    <span class="d-block my-1">General Discount (%)</span>
                    <input class="d-block w-100" type="number" 
                        placeholder="General Discount" nbInput 
                        [ngModel]="dialogData.data?.general_diskon_persen" 
                        name="general_diskon_persen" fieldSize="small"
                        min="0" max="100" required
                    >
                    <span class="d-block my-1">Additional Discount</span>
                    <input class="d-block w-100" type="text" 
                        placeholder="Additional Discount" nbInput 
                        [ngModel]="dialogData.data?.additional_diskon" 
                        name="additional_diskon" fieldSize="small"
                        (ngModelChange)="additionalDiscount = commonFunction.convertToCurrency(usedCurrency, $event)"
                        [ngModel]="additionalDiscount" required
                    >
                    <span class="d-block my-1">Sum Internal Adjusment</span>
                    <input class="d-block w-100" type="text" 
                        placeholder="Sum Internal Adjusment" nbInput 
                        [ngModel]="dialogData.data?.sum_internal_adjusment" 
                        name="sum_internal_adjusment" fieldSize="small"
                        (ngModelChange)="sumInternal = commonFunction.convertToCurrency(usedCurrency, $event)"
                        [ngModel]="sumInternal" required
                    >
                    <span class="d-block my-1">Comment</span>
                    <textarea nbInput placeholder="Internal Comment" rows="7" 
                        fullWidth [ngModel]="dialogData.data?.komentar" name="komentar" required
                    ></textarea>
                </div>
            </div>
            <div class="d-flex w-100 justify-content-center m-3">
                <button nbButton status="success" [disabled]="!addYardForm.form.valid" type="submit">Submit</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>
