<nb-alert status="success" *ngIf="uploadSuccess">
    Your ship has been added!
</nb-alert> 

<nb-card>
    <nb-card-header class="d-flex justify-content-between">
        <strong>{{shipData.dial}} Ship</strong>
        <button nbButton status="danger" size="tiny" (click)="close()">
            <nb-icon icon="close-outline" size="medium"></nb-icon>
        </button>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="addShipForm" (ngSubmit)="submit(addShipForm, shipData.dial)" >
            <div class="form-group">
                <label for="name">Name</label>
                <input formControlName="name" nbInput fullWidth type="text" class="form-control" #name (ngModel)="name"  required>
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
                    <div *ngIf="name.errors?.['required']">
                        Name is required.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="breadth">Breadth</label>
                <input formControlName="breadth" nbInput fullWidth type="text" class="form-control" #breadth (ngModel)="breadth"  required>
                <div *ngIf="breadth.invalid && (breadth.dirty || breadth.touched)" class="alert">
                    <div *ngIf="breadth.errors?.['required']">
                        Breadth is required.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="draught">Draught</label>
                <input formControlName="draught" nbInput fullWidth type="text" class="form-control" #draught (ngModel)="draught"  required>
                <div *ngIf="draught.invalid && (draught.dirty || draught.touched)" class="alert">
                    <div *ngIf="draught.errors?.['required']">
                        Draught is required.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="draft">Draft</label>
                <input formControlName="draft" nbInput fullWidth type="text" class="form-control" #draft (ngModel)="draft"  required>
                <div *ngIf="draft.invalid && (draft.dirty || draft.touched)" class="alert">
                    <div *ngIf="draft.errors?.['required']">
                        Draft is required.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="loa">LOA</label>
                <input formControlName="loa" nbInput fullWidth type="text" class="form-control" #loa (ngModel)="loa"  required>
                <div *ngIf="loa.invalid && (loa.dirty || loa.touched)" class="alert">
                    <div *ngIf="loa.errors?.['required']">
                        LOA is required.
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label for="file">Image</label>
                <div class="img_wrapper text-center">
                    <div class="img_container m-auto p-2">
                        <img [src]="viewImageLink" class="img-fluid" alt="" (load)="onImageLoad($event)"  crossorigin="anonymous">
                    </div>
                    <input formControlName="file" id="file" type="file" class="img_input col-12" (change)="onFileChange($event)" fullWidth>
                    <span class="col-12">Drop Your Image Here</span>
                </div>
            </div>
            <button class="text-center" nbButton status="success" type="submit" [disabled]="!(vessel.valid && file.valid)">Submit</button>
        </form>
    </nb-card-body>
</nb-card>
