<nb-alert status="success" *ngIf="uploadSuccess">
    Your ship has been added!
</nb-alert> 

<nb-card>
    <nb-card-header class="d-flex justify-content-between">
        <strong>{{shipData.dial}} Ship</strong>
        <button nbButton status="danger" size="tiny" (click)="close()">
            <nb-icon icon="close-outline" size="medium"></nb-icon>
        </button>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="addShipForm" (ngSubmit)="submit(addShipForm, shipData.dial)" >
            <div class="form-group">
                <label for="name">Name</label>
                <input formControlName="name" nbInput fullWidth type="text" class="form-control" #name (ngModel)="name"  required>
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
                    <div *ngIf="name.errors?.['required']">
                        Name is required.
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label for="file">Image</label>
                <div class="img_wrapper text-center">
                    <div class="img_container m-auto p-2">
                        <img [src]="viewImageLink" class="img-fluid" alt="" (load)="onImageLoad($event)"  crossorigin="anonymous">
                    </div>
                    <input formControlName="file" id="file" type="file" class="img_input col-12" (change)="onFileChange($event)" fullWidth>
                    <span class="col-12">Drop Your Image Here</span>
                </div>
            </div>
            <button class="text-center" nbButton status="success" type="submit" [disabled]="!(vessel.valid && file.valid)">Submit</button>
        </form>
    </nb-card-body>
</nb-card>
