<nb-card>
    <nb-card-header class="d-flex justify-content-between">
        <h5>Update Company Logo</h5>
        <button nbButton status="danger" size="small" (click)="close()">
            <nb-icon icon="close-outline" size="medium"></nb-icon>
        </button>
    </nb-card-header>
    <nb-card-body>
        <form #addShipForm="ngForm" (ngSubmit)="testData(addShipForm)" class="row" >
            <section class="col-12">
                <label class="col-3" for="ship image file">Company Logo</label>
                <!-- <input class="col-6" nbInput class="my-2" type="file" name="shipimage" (change)="getImage($event)" placeholder="Ship Image" (ngModel)="shipimage" #shipimage> -->
                <div class="d-flex justify-content-center">
                    <picture class="add_image">
                        <nb-icon icon="plus-outline" class="text-secondary add_icon"></nb-icon>
                        <input type="file" >
                    </picture>
                    <picture class="avatar_image">
                        <img [src]=""   crossorigin="anonymous">
                        <input type="file"  class="change_image" >
                    </picture>
                </div>
            </section>
            
            <!-- <div class="d-flex justify-content-center">
                <picture *ngIf="!userData.avatar_url.exist" class="add_image">
                    <nb-icon icon="plus-outline" class="text-secondary add_icon"></nb-icon>
                    <input type="file" (change)="onFileChange($event)">
                </picture>
                <picture *ngIf="userData.avatar_url.exist" class="avatar_image">
                    <img [src]="userData.avatar_url.url" (load)="onImageLoad($event)"  (onerror)="checkError($event)"   crossorigin="anonymous">
                    <input type="file"  class="change_image" (change)="onFileChange($event)">
                </picture>
            </div> -->

            <section class="col-12 text-center">
                <button  nbButton class="w-50 my-2"  type="submit" status="success" [disabled]="enabledImgButton" >Upload</button>
            </section>
        </form>
    </nb-card-body>
</nb-card>
