<nb-card>
    <h5 class="m-4">Tasks | Mine</h5>
    <div style="overflow: auto; width: 100%;">
      <div style="width: 1424px; max-height: 500px;">
        <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">
          <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
          <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

          <ng-container [nbTreeGridColumnDef]="'icon'">
            <th nbTreeGridHeaderCell  *nbTreeGridHeaderCellDef style="width: 120px;">Job No</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">
              <nb-tree-grid-row-toggle [expanded]="row.expanded" *ngIf="row.data.kind === 'dir'; else fileIcon">
              </nb-tree-grid-row-toggle>
              <ng-template #fileIcon>
                <nb-icon icon="file-text-outline"></nb-icon>
              </ng-template>
              {{row?.data?.jobNumber}}
            </td>
          </ng-container>

          <ng-container [nbTreeGridColumnDef]="'project'">
            <th nbTreeGridHeaderCell  *nbTreeGridHeaderCellDef style="width: 280px;">
              <nb-select size="small" placeholder="All Project" class="w-100">
                <nb-option (click)="sortByProject = 'all'; collectData()">
                  All Projects
                </nb-option>
                <nb-option *ngFor="let project of projectDatas;let id = index;" [value]="project" (click)="sortByProject = project.id_proyek; collectData()">
                  {{project.kapal?.nama_kapal}} -DD- {{project.tahun}}
                </nb-option>
              </nb-select>
            </th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">
              {{row?.data?.projectName}}
            </td>
          </ng-container>

          <ng-container [nbTreeGridColumnDef]="'status'" >
            <th nbTreeGridHeaderCell  *nbTreeGridHeaderCellDef>
              <nb-select size="small" placeholder="All Status" class="w-100">
                <nb-option (click)="sortByStatus ='all'; collectData()">
                  All Statuses
                </nb-option>
                <nb-option *ngFor="let stat of this.FNCOL.status;let id = index;" [value]="stat" (click)="sortByStatus = id; collectData()">{{stat}}</nb-option>
              </nb-select>
            </th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">
              {{FNCOL.status[row?.data?.status]  || '-'}}
            </td>
          </ng-container>

          <ng-container [nbTreeGridColumnDef]="'resp'" >
            <th nbTreeGridHeaderCell  *nbTreeGridHeaderCellDef>
              <nb-select size="small" placeholder="All Responsible" class="w-100">
                <nb-option (click)="sortByResponsible = 'all'; collectData()">
                  All Responsibles  
                </nb-option>
                <nb-option *ngFor="let resp of responsible; let id = index;" [value]="resp" (click)="sortByResponsible = resp.id_user ;collectData()">
                  {{resp.username}}
                </nb-option>
              </nb-select>
            </th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">
              {{row?.data?.responsible?.name}}
            </td>
          </ng-container>

          <ng-container [nbTreeGridColumnDef]="'due'">
            <th nbTreeGridHeaderCell  *nbTreeGridHeaderCellDef style="width: 250px;">Due</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">
              {{ row?.data?.end | date : 'medium' }}
            </td>
          </ng-container>

          <ng-container *ngFor="let column of columnContents; let index = index" [nbTreeGridColumnDef]="column" [showOn]="getShowOn(index)">
              <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
                {{columnHead[index]}}
              </th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row">
                {{row.data[column] || '-'}}
              </td>
          </ng-container>
      </table>
      </div>
    </div>
</nb-card>


<nb-card>
    <nb-card-body>
      <nb-card-header class="d-flex justify-content-between w-100" >
          <h5>Project List</h5>
          <button nbButton outline size="small" status="primary" (click)="addProjectDial()" >Add Project</button>
      </nb-card-header>

      <ngx-datatable [class]="'bootstrap'" [rows]="projectDatas" [scrollbarH]="true" [columnMode]="'force'" class="row" [rowHeight]="'auto'" default style="background-color: transparent;">
          <ngx-datatable-column [name]="'Project name'" prop="kapal" width="100px">
            <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <a class="text-primary text-decoration-none" 
              style="cursor: pointer;" 
              [routerLink]="['./sub-menu-project', row.id_proyek]"
              [data] = 'row'>{{row.kapal.nama_kapal}}-DD-{{row.tahun}} {{ FNCOL.convertStatus(row.status) }}</a>
           </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [name]="'Ship Management'" prop="shipManagement" >
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{shipManagement}}
            </ng-template>
          </ngx-datatable-column>
          
          <ngx-datatable-column name="" >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button *ngFor="let button of shortCut" class="mx-1" nbButton size="small" ghost (click)="clickAction(button.menu, row)" [nbPopover]="button.menu" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                <nb-icon [icon]="button.icon" status="danger"></nb-icon>
              </button>
            </ng-template>  
          </ngx-datatable-column>

          <ngx-datatable-column [name]="'R'" width="30">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <nb-icon [ngStyle]="{'color': row.phase[0] ? 'green' : 'red'}" [icon]="row.phase[0] ? 'checkmark-square-2-outline' : 'close-square-outline'">
              </nb-icon>
            </ng-template>  
          </ngx-datatable-column>
          
          <ngx-datatable-column [name]="'P'" width="30">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <nb-icon [ngStyle]="{'color': row.phase[1] ? 'green' : 'red'}" [icon]="row.phase[1] ? 'checkmark-square-2-outline' : 'close-square-outline'">
              </nb-icon>
            </ng-template>  
          </ngx-datatable-column>
          
          <ngx-datatable-column [name]="'E'" width="30" >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <nb-icon [ngStyle]="{'color': row.phase[2] ? 'green' : 'red'}" [icon]="row.phase[2] ? 'checkmark-square-2-outline' : 'close-square-outline'">
              </nb-icon>
            </ng-template>  
          </ngx-datatable-column>
          
          <ngx-datatable-column [name]="'F'" width="30" >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <nb-icon [ngStyle]="{'color': row.phase[3] ? 'green' : 'red'}" [icon]="row.phase[3] ? 'checkmark-square-2-outline' : 'close-square-outline'">
              </nb-icon>
            </ng-template>  
          </ngx-datatable-column>

          <ngx-datatable-column [name]="'Start Date'" prop="off_hire_start" >
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.created_at | date:'mediumDate' }}
            </ng-template> 
          </ngx-datatable-column>

          <ngx-datatable-column [name]="'Last Change'" prop="updated_at" >
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.updated_at | date:'medium' }}
            </ng-template> 
          </ngx-datatable-column>

          <!-- <ngx-datatable-column [name]="''" width="50">
            <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <button nbButton size="small" ghost (click)="deleteProject(row)"
              nbPopover="Delete Project" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                <nb-icon icon="trash-2-outline" status="danger"></nb-icon>
              </button>
            </ng-template>
          </ngx-datatable-column> -->

        </ngx-datatable>
      </nb-card-body>
    </nb-card>

<nb-card *ngIf="true" style="position: absolute; width : 20%; bottom: 1.2rem; right: -30rem;" [ngClass]="alertConds?.conds ? 'active' : ''" >
    <nb-alert accent="success" class="bg-transparent"> 
      <div class="d-flex align-items-center mt-2">
        <nb-icon icon="checkmark-circle-2-outline" [status]="alertConds?.status" class="check_icon mx-2"></nb-icon> 
        {{alertConds?.msg}}
      </div>
    </nb-alert>
</nb-card>  