<nb-card>
    <nb-card-body>
        <h5>Tasks | Mine</h5>
        <button nbButton class="mx-1" ghost shape="rectangle">
          <nb-icon icon="menu-outline" pack="eva"></nb-icon>
            Projects
        </button>
        <input nbInput id="search" class="search-input mx-3" placeholder="Search">
        <nb-select selected="1" class="mx-3">
          <nb-option value="1">Reposition</nb-option>
          <nb-option value="2">Plan</nb-option>
          <nb-option value="3">Evaluation</nb-option>
        </nb-select>

        <nb-select selected="1" class="mx-3">
          <nb-option value="1">Responsible</nb-option>
          <nb-option value="2">SS</nb-option>
        </nb-select>
         
        <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">
  
          <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
          <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>
      
          <ng-container [nbTreeGridColumnDef]="customColumn">
              <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
              {{customColumn}}
              </th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row">
              <ngx-fs-icon [kind]="row.data.kind" [expanded]="row.expanded"></ngx-fs-icon>
              {{row.data[customColumn]}}
              </td>
          </ng-container>
      
          <ng-container *ngFor="let column of defaultColumns; let index = index"
                          [nbTreeGridColumnDef]="column"
                          [showOn]="getShowOn(index)">
              <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
              {{column}}
              </th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || '-'}}</td>
          </ng-container>
      </table>
    </nb-card-body>
  </nb-card>


<nb-card>
    <nb-card-body>
      <nb-card-header class="d-flex justify-content-between w-100" >
          <h5>Project List</h5>
          <button nbButton outline status="primary" (click)="openDialog()" >Add New Project</button>
          <button nbButton outline status="primary" (click)="postDataProject()" >Add New Project test</button>
        </nb-card-header>

      <ngx-datatable 
          [class]="'bootstrap'" 
          [rows]="shipData" 
          [count]="shipData.length"
          [scrollbarH]="true"
          [columnMode]="'force'"
          class="row"
          [rowHeight]="'auto'"
          default>
          <ngx-datatable-column [name]="'Project name'" prop="vessel">
            <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
              <a class="text-primary" style="cursor: pointer;" (click)="navToSubProject(rowIndex)" [data] = 'row'>{{row.vessel}}</a>
           </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [name]="'Shortcut'" prop="">
            <ng-template let-row="row" ngx-datatable-cell-template>

              <nb-icon *ngFor="let stat of row.shortcuts" [ngStyle]="{'color': 'grey'}" [icon]="stat"></nb-icon>
            </ng-template>  
          </ngx-datatable-column>

          <ngx-datatable-column [name]="'Ship Management'" prop="customer"></ngx-datatable-column>

          <ngx-datatable-column [name]="'R'" width="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <nb-icon [stat]="row.R" [ngStyle]="{'color': stat ? 'green' : 'red'}" [icon]="stat ? 'checkmark-square-2-outline' : 'close-square-outline'">
                </nb-icon>
              </ng-template>  
          </ngx-datatable-column>

          <ngx-datatable-column [name]="'P'" width="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <nb-icon [stat]="row.P" [ngStyle]="{'color': stat ? 'green' : 'red'}" [icon]="stat ? 'checkmark-square-2-outline' : 'close-square-outline'">
              </nb-icon>
            </ng-template>  
          </ngx-datatable-column>

          <ngx-datatable-column [name]="'E'" width="1" >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <nb-icon [stat]="row.E" [ngStyle]="{'color': stat ? 'green' : 'red'}" [icon]="stat ? 'checkmark-square-2-outline' : 'close-square-outline'">
              </nb-icon>
            </ng-template>  
          </ngx-datatable-column>

          <ngx-datatable-column [name]="'F'"  >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <nb-icon [stat]="row.E" [ngStyle]="{'color': stat ? 'green' : 'red'}" [icon]="stat ? 'checkmark-square-2-outline' : 'close-square-outline'">
              </nb-icon>
            </ng-template>  
          </ngx-datatable-column>

          <ngx-datatable-column [name]="'Start Date'" prop="start"></ngx-datatable-column>
          <ngx-datatable-column [name]="'Last Change'" prop="start"></ngx-datatable-column>
      </ngx-datatable>
    </nb-card-body>
  </nb-card>


  <nb-card>
    <div class="col">
      <p>You select your team {{ selectedTeam }} using viewChild</p>
        <select #teams (change)="onSelected()">
          <option default>Pick a team</option>
          <option>Lakers</option>	
          <option>Miami</option>
          <option>Cleveland</option>
        </select>
    </div>

    <div class="col">
      <p>You select your team {{ selecTeam }}</p>
      <p>The change Event</p>
        <select (ngModel)="selecTeam">
          <option default>Pick a team</option>
          <option >Lakers</option>
          <option>Miami</option>
          <option>Cleveland</option>
        </select>
      </div>

      <select class="form-control selectpicker" (change)="chooseOption($event.target.selectedIndex) ;"> Select One
        <option *ngFor="let a of testDropDown;let i = index;" value="{{ a.val }}"  [selected]="selIdx == i" (click)="chooseOption(i)">
           {{ a }}
        </option>
     </select>
  </nb-card>