<nb-card>
    <nb-card-header class="d-flex justify-content-between">
        <h5>ADD USER</h5> 
        <button nbButton status="danger" size="small" (click)="close()">
            <nb-icon icon="close-outline" size="medium"></nb-icon>
        </button>   
    </nb-card-header>
    <nb-card-body>
    <form #addUserForm="ngForm" (ngSubmit)="onSubmit(addUserForm)" (keyup.enter)="$event.target.value">
        <div class="d-flex justify-content-center">
            <picture *ngIf="!userData.avatar_url.exist" class="add_image">
                <nb-icon icon="plus-outline" class="text-secondary add_icon"></nb-icon>
                <input type="file" (change)="onFileChange($event)">
            </picture>
            <picture *ngIf="userData.avatar_url.exist" class="avatar_image">
                <img [src]="userData.avatar_url.url" (load)="onImageLoad($event)"  crossorigin="anonymous">
                <input type="file"  class="change_image" (change)="onFileChange($event)">
            </picture>
        </div>
        <div class="row">
            <div class="col-6">
                <label class="p-2">User name</label> 
                <input type="text" nbInput fullWidth placeholder="User Name" class="form-control" id="user_name" fieldSize="small"
                required (ngModel)="userName" name="userName" #userName="ngModel" >
                <label class="p-2">Full Name</label>
                <input type="text" nbInput fullWidth placeholder="Full Name" id="full_name" fieldSize="small"
                required (ngModel)="fullName" name="fullName" #fullName="ngModel">
                <label class="p-2">Vessel Name</label>
                <input type="text" nbInput fullWidth placeholder="Vessel Name" id="ship_name" fieldSize="small"
                required (ngModel)="shipName" name="shipName" #shipName="ngModel">
                <label class="p-2">Title</label>
                <input type="text" nbInput fullWidth placeholder="Title" id="title" fieldSize="small"
                required (ngModel)="title" name="title" #title="ngModel">
                <label class="p-2">Department</label>
                <input type="text" nbInput fullWidth placeholder="Department" id="department" fieldSize="small"
                required (ngModel)="department" name="department" #department="ngModel">
            </div>
            <div class="col-6">
                <label class="p-2">Position</label>
                <input type="text" nbInput fullWidth placeholder="Position" id="position" fieldSize="small"
                required (ngModel)="position" name="position" #position="ngModel">
                <label class="p-2">Mobile Number</label>
                <input type="text" nbInput fullWidth placeholder="Mobile Number" id="mobile_no" fieldSize="small"
                required (ngModel)="mobileNo" name="mobileNo" #mobileNo="ngModel">
                <label class="p-2">E-mail</label>
                <input type="text" nbInput fullWidth placeholder="E-mail Address" id="email" fieldSize="small"
                required (ngModel)="email" name="email" #email="ngModel">
                <label class="p-2">Password</label>
                <input [type]="passwordFieldType ? 'password' : 'text'" nbInput fullWidth placeholder="Password" id="password" fieldSize="small"
                required (ngModel)="password" name="password" #password  >
                <label class="p-2 d-block">Role</label>
                <nb-select class="w-100" placeholder="Role" size="small" status="primary" #role (ngModel)="role" name="role">
                    <nb-option [value]="id" *ngFor="let status of userRole; let id=index;">{{status}}</nb-option>
                </nb-select>
                <!-- <input type="text" nbInput fullWidth placeholder="Role" id="role" fieldSize="small"
                required (ngModel)="role" name="role" #role="ngModel"> -->
            </div>
        </div>

        <button type="submit" nbButton status="success" [disabled]="!addUserForm.form.valid" class="my-2" fullWidth>Submit</button>
    </form>
    </nb-card-body>
</nb-card>

