<nb-card *ngIf="['admin', 'superintendent', 'director'] | role">
    <nb-card-header 
      class="d-flex justify-content-between w-100" 
    >
      <h5>Contract</h5>
      <button nbButton outline size="small" status="primary" 
        style="background-color: transparent;" 
        (click)="addYardDialog()"
      >
        Add Yard
      </button>
    </nb-card-header>
  
    <nb-card-body *ngIf="projectSummary">
      <div class="w-100 d-flex">
        <section class="m-3 w-100">
          <h6>Project List</h6>
          <nb-list style="max-height: 200px;">
            <nb-list-item *ngIf="!projectData.length">
              Project Not Available
            </nb-list-item>
            <nb-list-item *ngFor="let project of projectData; let i = index;" style="max-height: .7rem;">
              <span class="w-100 text-truncate" 
                (mouseover)="project.hover = true" 
                (mouseout)="project.hover = false" 
                [ngClass]="project?.hover ? 'text-primary' : ''" 
                (click)="this.sendDataLoadDetials.emit(project)"
                style="cursor: pointer;">
                {{ project.projectTitle }}
              </span>
              <button nbButton size="tiny" 
                status="primary" outline class="m-1"
                (click)="this.addNewContract.project = project"
                nbPopover="Select Project" 
                nbPopoverTrigger="hint" 
                nbPopoverPlacement="top"
              >
                <nb-icon icon="log-in-outline"></nb-icon>
              </button>
            </nb-list-item>
          </nb-list>
        </section>
  
        <section class="m-3 w-100">
          <h6>Yard List</h6>
          <nb-list style="max-height: 200px;">
            <nb-list-item *ngIf="!tenderData.length">
              Yard Not Available
            </nb-list-item>
            <nb-list-item *ngFor="let tender of tenderData; let i = index;" style="max-height: .7rem;">
              <span class="w-100 text-truncate" 
                (mouseover)="tender.hover = true" 
                (mouseout)="tender.hover = false" 
                [ngClass]="tender?.hover ? 'text-primary' : ''" 
                (click)="this.showYardDetails('Show Yard Details', tender)"
                style="cursor: pointer;"
              >
                {{ tender.nama_galangan }}
              </span>
              <button 
                *ngFor="let button of [
                  { name : 'Update Yard', status : 'primary', icon : 'edit-outline' },
                  { name : 'Delete Yard', status : 'danger', icon : 'trash-2-outline' },
                  { name : 'Select Yard', status : 'primary', icon : 'log-in-outline' },
                ]"
                nbButton size="tiny" 
                [status]="button.status" outline class="m-1"
                (click)="
                  button.name == 'Update Yard'
                  ? updateYardDialog(tender)
                  : button.name == 'Delete Yard'
                  ? deleteYardDialog(tender)
                  : addNewContract.yard = tender
                "
                [nbPopover]="button.name" 
                nbPopoverTrigger="hint" 
                nbPopoverPlacement="top"
              >
                <nb-icon [icon]="button.icon"></nb-icon>
              </button>
            </nb-list-item>
          </nb-list>
        </section>
      </div>
  
      <div>
        <section class="m-3 w-100" *ngIf="addNewContract.project || addNewContract.yard">
          <h6>Add Contract</h6>
          <nb-list style="max-height: 200px;">
            <nb-list-item style="max-height: .7rem;">
              <span class="text-truncate col-5">
                {{ addNewContract.project?.projectTitle || 'Please Select Project...' }}
              </span>
              <span class="text-truncate col-5" >
                {{ addNewContract.yard?.nama_galangan || 'Please Select Yard...' }}
              </span>
              <div class="col">
                <button nbButton size="tiny" 
                  *ngIf="addNewContract.project && addNewContract.yard"
                  status="primary" outline class="m-1"
                  (click)="selectNewContract()"
                >
                  <nb-icon icon="plus-outline"></nb-icon>
                </button>
                <button nbButton size="tiny" 
                  status="danger" outline class="m-1"
                  (click)="this.addNewContract = {}"
                >
                  <nb-icon icon="close-outline"></nb-icon>
                </button>
                <button nbButton size="tiny" 
                  *ngIf="addNewContract.project && addNewContract.yard"
                  status="success" class="m-1"
                  (click)="uploadContract.click()"
                >
                  <nb-icon icon="file-add-outline"></nb-icon>
                </button>
              </div>
            </nb-list-item>
          </nb-list>
        </section>

        <input type="file" style="display: none;" 
          #uploadContract (ngModel)="document" 
          (change)="onFileChange($event)"
        >

        <section class="m-3 w-100">
          <h6>Active Contract</h6>
          <nb-list style="max-height: 200px;">
            <nb-list-item *ngIf="!projectSummary.length">
              Contract Not Available. Please add your new contract.
            </nb-list-item>
            <nb-list-item *ngFor="let summary of projectSummary; let i = index;" style="max-height: .7rem;">
              <span class="text-truncate col-5" 
                (mouseover)="summary.hover = true" 
                (mouseout)="summary.hover = false" 
                [ngClass]="summary?.hover ? 'text-primary' : ''" 
                (click)="this.sendDataLoadDetials.emit(summary)"
                style="cursor: pointer;"
              >
                {{ summary.projectTitle }}
              </span>
              <span class="text-truncate col-5" 
                (mouseover)="summary.hover = true" 
                (mouseout)="summary.hover = false" 
                [ngClass]="summary?.hover ? 'text-primary' : ''"  
                (click)="showYardDetails(summary)"
                style="cursor: pointer;"
              >
                {{ summary.nama_galangan }}
              </span>
  
              <div class="col">
                <button 
                  *ngFor="let button of [
                    { name : 'Unselect Yard', status : 'danger', icon : 'close-outline' },
                    { name : 'Show Contract', status : 'primary', icon : 'file-text-outline' },
                  ]"
                  nbButton size="tiny" 
                  [status]="button.status" outline class="m-1"
                  (click)="
                    button.name == 'Show Contract'
                    ? showContract(summary)
                    : unselectYard(summary)
                  "
                  [nbPopover]="button.name" 
                  nbPopoverTrigger="hint" 
                  nbPopoverPlacement="top"
                >
                  <nb-icon [icon]="button.icon"></nb-icon>
                </button>

              </div>
            </nb-list-item>
          </nb-list>
        </section>
      </div>
    </nb-card-body>
</nb-card>