<div class="row position-relative" style="min-height: 100vh;">
  <ng-container *ngIf="(result$ | async) as shipData; else loading">
  <nb-flip-card 
  *ngFor="let item of shipData; let id=index;" 
  class="col-lg-4 col-md-6 col-sm-12" 
  [showToggleButton]="false"
  [flipped]="flip.value == 1"
  >
    <input #flip type="hidden" value="0">
    <nb-card-front> 
      <nb-card size="small">
        <nb-badge *ngIf="item.progress != null" status="info" position="top start" dotMode></nb-badge>
        <div class="d-flex justify-content-between p-2"> 
          <nb-icon 
            class="flip-icon" 
            icon="chevron-right-outline" 
            pack="eva" 
            (click)="flip.value = 1"
            style="cursor: pointer;"
          ></nb-icon>
          <nb-icon 
            *ngIf="['admin', 'superintendent'] | role"
            nbButton 
            [icon]="item?.status === 1 ? 'heart' : 'heart-outline'"
            (click)="item.status = item.status == 0 ? 1 : 0; onUploadData('Update Ship', item );"
            nbPopover="Assets" 
            nbPopoverTrigger="hover" 
            nbPopoverPlacement="bottom" 
            type="button" size="medium" 
            [options]="{ animation: {type:'zoom'}}" 
            style="font-size: 1.2rem" 
            status="danger" 
          ></nb-icon>
        </div>
        <div class="overflow-hidden bg-secondary text-center" 
        style="max-height : 300px"
        >
          <img 
            src="{{item.imageURL}}" 
            crossorigin="anonymous" 
            alt="{{item.nama_kapal}}"
          >
        </div>
        <div class="d-flex align-items-center"> 
          <span class="col-9 text-uppercase font-weight-bold h6">{{item.nama_kapal}}</span> 
          <div class="col-3" *ngIf="['admin', 'superintendent'] | role">
            <div class="d-flex justify-content-end" 
            style="justify-self: end;" 
            >
              <nb-icon 
                nbButton 
                class="p-1" 
                icon="edit-outline" 
                (click)="updateShipDialog(item)"
                nbPopover="Update Ship" 
                nbPopoverTrigger="hover" 
                nbPopoverPlacement="bottom" 
                type="button" 
                size="medium" 
                [options]="{ animation: {type: 'zoom'}}" 
                style="font-size: 1.6rem" 
                status="primary">
              </nb-icon>
              <nb-icon 
                nbButton 
                class="p-1" 
                icon="trash-2-outline" 
                (click)="deleteShipDialog(item)" 
                nbPopover="Delete Ship" 
                nbPopoverTrigger="hover" 
                nbPopoverPlacement="bottom" 
                type="button" 
                size="medium" 
                [options]="{ animation: {type:'zoom'}}" 
                style="font-size: 1.6rem" 
                status="primary" 
              ></nb-icon>
            </div>
          </div>
        </div>
      </nb-card>
    </nb-card-front>
    <nb-card-back>
      <nb-card size="small">
        <div class="d-flex justify-content-between p-2"> 
          <nb-icon 
            class="flip-icon" 
            icon="chevron-right-outline" 
            pack="eva" 
            (click)="flip.value = 0"
            style="cursor: pointer;"
          ></nb-icon>
        </div>
        <div class="p-5">
          <h6>{{ item.nama_kapal }}</h6>
          <div class="back-card--desc mt-5" *ngIf="item?.projectTitle">
            <h2>{{ item?.progress }} %</h2>
            <nb-progress-bar [value]=" item?.progress " status="info" [displayValue]="true"></nb-progress-bar>
            <span class="font-weight-bolder text-capitalize d-flex my-1">Status : {{ item?.phase || '' }}</span> <br>
            <span class="font-weight-bolder d-flex my-2">
              <a class="text-decoration-none " 
              [routerLink]="['/pages/report', item.id_proyek]"
              >
                {{ item?.projectTitle || '' }}
              </a>
            </span>
          </div>
        </div>
      </nb-card>      
    </nb-card-back>
  </nb-flip-card>

  <div class="col-xl-4 col-lg-4 col-md-6">
    <nb-card class="h-75" *ngIf="['admin', 'superintendent'] | role"
    style="cursor: pointer;" 
    (click)="addShipDialog()"
    >
      <div class="d-flex flex-column justify-content-center align-items-center h-100 p-5 m-3 text-secondary">
        <span *ngIf="shipData.lenght <= 0" class="font-weight-bold text-center">Data Not Available <br> Please Add Ship </span>
        <nb-icon icon="plus-square-outline" 
          style="font-size: 5rem;" 
          class="align-self-center" 
          [options]="{ animation: { type: 'zoom' }}"
        ></nb-icon>
        <h5>Add Ship</h5> 
      </div>
    </nb-card>
  </div>
</ng-container>
</div>

<ng-template #loading>
  <div class="position-absolute w-100 h-100 d-flex flex-column justify-content-center align-items-center" 
  style="line-height: 4; z-index: -1;"
  [nbSpinner]="true">
    <span><br></span>
    <span>Loading...</span>  
  </div>
</ng-template>
