<div class="row">
    <div class="col-xxl-5">
      <div class="row">
        <div class="col-12">
          <nb-card>
            <nb-card-body class="d-flex bg-info">
              <div class="photo col-3">
                <img src="../../../assets/images/nick.png" alt="Nick" width="200">
              </div>
              <div class="title col-9" style="color: white;">
                <h4>SELAMAT DATANG,</h4>
                <h2>ACHMAD FEBRIAN BAGUS PANGESTU</h2>
                <p>Minggu, 20 Mei 2022</p>
                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus quod dolor sit.</span>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
      <nb-card>
        <h1 class="text-center">PENGUMUMAN</h1>
      </nb-card>
    </div>
  </div>