<nb-card>
    <nb-card-header class="d-flex justify-content-between w-100">
        <h6>Work Area</h6>
        <div class="d-flex justify-content-between">
            <button nbButton outline class="mx-2"
            size="small" status="primary" 
            *ngFor="let button of workAreaNavButton"
            (click)="handleClickButton(button)"
            >
                {{ button }}
            </button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <ngx-work-areas 
            *ngIf="workAreaData"
            [workAreaData]="workAreaData"
            [tableDetails]="tableDetails"
            [columnType]="columnType"
            [tableHead]="tableHead" 
            (sendToParent)="handleClickButton($event.title, $event.data)"
        >
        </ngx-work-areas>
    </nb-card-body>
</nb-card>