<nb-card>
    <nb-card-header class="d-flex justify-content-between w-100" >
        <h5>{{ projectData?.projectTitle }}</h5>
        <button nbButton outline size="small" status="primary" 
        (click)="onHandleClick('Monitoring')" [disabled]="!projectData?.report"
        >
            Monitoring
        </button>
    </nb-card-header>
    <nb-card-body class="row" *ngIf="summaryTable">

        <div class="col-6" *ngIf="summaryTable">
            <div class="d-flex justify-content-between">
                <h6>Summary</h6>  
                <button nbButton size="small" status="primary"
                    (click)="onHandleClick('Update Project')"
                >
                    Update
                </button>
            </div>
            <div class="col-12">
                <div class="row" 
                    *ngFor="let summary of Object.keys(summaryTable);">
                    <span class="col-5 my-1 font-weight-bolder">{{summary}}</span>
                    <span class="col-7 my-1 text-capitalize">{{summaryTable[summary]}}</span>
                </div>
            </div>
        </div>

        <div class="col-6 px-5">
            <ngx-datatable
                [rowHeight]="'auto'"
                [rows]="currencyTable"
                [columns]="columns"
            >
                <ngx-datatable-column 
                    *ngFor="let column of columns;"  
                    [name]="column.title" [sortable]="false" 
                    [width]="column.width"
                > 
                    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <div *ngIf="column.title === 'Totals'" style="height: 30px;"
                        [ngClass]="rowIndex == currencyTable.length - 1 ? '' : 'border-bottom'">{{row[column.prop]}}</div>
                        <div *ngIf="column.title !== 'Totals'" class="text-center w-100" style="height: 30px;"
                        [ngClass]="rowIndex == currencyTable.length - 1 ? '' : 'border-bottom'">{{row[column.prop]}}</div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </nb-card-body>
</nb-card>