<nb-card >
  <nb-card-header class="d-flex justify-content-between">
    <h5 style="color:burlywood;">Add New Project</h5>
    <button nbButton status="danger" size="small" (click)="close()">
      <nb-icon icon="close-square-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <form action="" class="row">
      <div class="left_side col-6">
        <label for="Vessel Name" class="">Vessel</label> <br>
        <nb-select selected="1" class="" size="small" status="primary">
          <nb-option value="1" *ngFor="let vessel of reportData.Vessel.value">{{vessel}}</nb-option>
        </nb-select>
        <label for="Year Project" class="d-block">Year Project</label>
        <input nbInput class=""> <br>
        <label for="Year Project" class="">Ship Management</label> <br>
        <input nbInput class=""> <br>
        <label for="Vessel Name" class="">Responsible</label> <br>
        <nb-select selected="1" class="" size="tiny" status="primary">
          <nb-option value="1" *ngFor="let status of reportData.responsible.value">{{status}}</nb-option>
        </nb-select>
        <label for="Phase" class="d-block">Phase</label>
        <input nbInput class=""> <br>
        <label for="Selected Yard" class="d-block">Selected Yard</label>
        <input nbInput class="">
      </div>

      <div class="right_site col-6">
        <label for="Base Currency" class="">Base Currency</label> <br>
        <nb-select selected="1" class="" size="tiny" status="primary">
          <nb-option value="1" *ngFor="let status of reportData.BaseCurrency.value">{{status}}</nb-option>
        </nb-select>
        <label for="Off Hire Period" class="d-block">Off Hire Period</label>
        <input class="" type="text" fieldSize="small" nbInput shape="rectangle" placeholder="Pick Date" [nbDatepicker]="datepicker">
        <label for="Deviation" class="d-block">-Deviation</label>
        <input type="text" nbInput>
        <nb-datepicker #datepicker [min]="min"></nb-datepicker>  
        <label for="Charter Rate" class="d-block" >-Chareter Rate</label>
        <input type="text" class="" nbInput>
        <label for="Bunker" class="d-block" >- Bunker</label>
        <input type="text" class="" nbInput>
        <label for="Repari Period" class="d-block">Repair Period</label>
        <input class="" type="text" fieldSize="small" nbInput shape="rectangle" placeholder="Pick Date" [nbDatepicker]="datepicker">
        <label for="In Dock" class="d-block">- In Dock</label> 
        <input class="" type="text" fieldSize="small" nbInput shape="rectangle" placeholder="Pick Date" [nbDatepicker]="datepicker">
        <label for="Additinal Day" class="d-block">- Additional Day</label>
        <input type="text" class="" nbInput>
      </div>
    </form>
  </nb-card-body>
  <button nbButton class="m-2" status="success">Add Project</button>
</nb-card>