<nb-card >
  <nb-card-header class="d-flex justify-content-between">
    <h5 style="color:burlywood;">Add New Project</h5>
    <button nbButton status="danger" size="small" (click)="close()">
      <nb-icon icon="close-square-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <form class="row" #newProjectForm="ngForm" (ngSubmit)="addNewProject(newProjectForm)">
      <div class="left_side col-6">
        <label for="Vessel Name" class="">Vessel</label><br>
        <nb-select class="w-100" placeholder="Vessel Name" size="small" status="primary" (selectedChange)="vesselName($event)">
          <nb-option [value]="indexOfelement"  *ngFor="let vessel of newProjectMenu.Vessel.value; let indexOfelement=index;">{{vessel}}</nb-option>
        </nb-select>
        <label for="Year Project" class="d-block">Year Project</label>
        <input nbInput fieldSize="small" name="yearProject" ngModel required #yearProject (ngModel)="yearProject" > <br>
        <label for="Ship Management" class="">Ship Management</label> <br>
        <input nbInput class="" fieldSize="small" name="shipManagement" #shipManagement (ngModel)="shipManagement"> <br>
        <label for="Vessel Name" class="">Responsible</label> <br>
        <nb-select class="w-100" placeholder="Responsible" size="small" status="primary" (selectedChange)="responsible($event)">
          <nb-option [value]="indexOfelement" *ngFor="let status of newProjectMenu.responsible.value; let indexOfelement=index;">{{status}}</nb-option>
        </nb-select>
        <label for="Phase" class="d-block">Phase</label>
        <nb-select class="w-100" placeholder="Phase" size="small" status="primary" (selectedChange)="responsible($event)">
          <nb-option [value]="indexOfelement" *ngFor="let status of newProjectMenu.Phase.value; let indexOfelement=index;">{{status}}</nb-option>
        </nb-select>
        <label for="Selected Yard" class="d-block">Selected Yard</label>
        <input nbInput class="" fieldSize="small" name="selectedYard" #selectedYard (ngModel)="selectedYard">
      </div>

      <div class="right_site col-6">
        <label for="Base Currency" class="" fieldSize="small">Base Currency</label> <br>
        <nb-select class="w-100" placeholder="Base Currency" size="small" status="primary" (selectedChange)="baseCurrency($event)"  >
          <nb-option [value]="indexOfelement" *ngFor="let status of newProjectMenu.BaseCurrency.value; let indexOfelement=index;">{{status}}</nb-option>
        </nb-select>
        <label for="Off Hire Period" class="d-block">Off Hire Period</label>
        <nb-rangepicker #offHirePeriod [min]="min" format="DD-MM-YYYY"></nb-rangepicker>  
          <input fieldSize="small" type="text" nbInput shape="rectangle" placeholder="Pick Date" [nbDatepicker]="offHirePeriod" #offHirePeriodDate>
        <label for="Deviation" class="d-block">- Deviation</label>
        <input type="text" nbInput fieldSize="small" name="deviation" #deviation (ngModel)="deviation">
        <label for="Charter Rate" class="d-block" >- Charter Rate</label>
        <input type="text" class="" nbInput fieldSize="small" name="charterRate" #charterRate (ngModel)="charterRate">
        <label for="Bunker" class="d-block" >- Bunker</label>
        <input type="text" class="" nbInput fieldSize="small">
        <label for="Repari Period" class="d-block">Repair Period</label>
        <nb-rangepicker #repairPeriod [min]="min"></nb-rangepicker>  
          <input fieldSize="small" type="text" nbInput shape="rectangle" placeholder="Pick Date" [nbDatepicker]="repairPeriod" #repairPeriodDate>
        <label for="In Dock" class="d-block">- In Dock</label> 
        <nb-rangepicker #inDockPicker [min]="min"></nb-rangepicker>  
          <input fieldSize="small" type="text" nbInput shape="rectangle" placeholder="Pick Date" [nbDatepicker]="inDockPicker" #inDockDate>
        <label for="Additional Day" class="d-block" >- Additional Day</label>
        <input type="text" class="" nbInput fieldSize="small" name="additionalDay" #additionalDay (ngModel)="additionalDay" >
      </div>
      <button nbButton class="m-3 w-100" status="success" type="submit">Add Project</button>
    </form>
  </nb-card-body>
</nb-card> 