<nb-card >
  <nb-card-header class="d-flex justify-content-between">
    <h5 style="color:burlywood;">Add Project</h5>
    <button nbButton status="danger" size="small" (click)="close()">
      <nb-icon icon="close-square-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <form class="row" #newProjectForm="ngForm" (ngSubmit)="addNewProject(newProjectForm)">
      <div class="left_side col-6">
        <label for="Vessel Name" class="d-block text-muted">Vessel</label>
        <nb-select class="w-100" placeholder="Vessel Name" size="small"  (ngModel)="vessel" #vessel name="id_kapal">
          <nb-option [value]="newProjectMenu.Vessel[id].id_kapal"  *ngFor="let vessel of newProjectMenu.Vessel; let id=index;">{{vessel.nama_kapal}}</nb-option>
        </nb-select>
        <label for="Year Project" class="d-block text-muted">Year Project</label>
        <input nbInput class="w-100" placeholder="Year Of Project" fieldSize="small" name="tahun" required #yearProject (ngModel)="yearProject">
        <label for="Ship Management" class="text-muted">Ship Management</label> 
        <span class="d-block text-primary">{{newProjectMenu.shipManagement}}</span> 
        <label for="Vessel Name" class="d-block text-muted">Responsible</label> 
        <nb-select class="w-100" placeholder="Responsible" size="small" #responsible (ngModel)="responsible" name="id_user" >
          <nb-option [value]="newProjectMenu.responsible[id].id" *ngFor="let status of newProjectMenu.responsible; let id=index;">{{status.name}}</nb-option>
        </nb-select>
        <label for="Phase" class="d-block text-muted">Phase</label>
        <nb-select class="w-100" placeholder="Phase" size="small" #phase (ngModel)="phase" name="phase">
          <nb-option [value]="newProjectMenu.Phase[id].toLowerCase()" *ngFor="let status of newProjectMenu.Phase; let id=index;">{{status}}</nb-option>
        </nb-select>
        <label for="Selected Yard" class="w-100 text-muted">Selected Yard</label>
        <input nbInput class="w-100" fieldSize="small" name="selected_yard" #selectedYard (ngModel)="selectedYard">
      </div>

      <div class="right_site col-6">
        <label for="Base Currency" class="text-muted" fieldSize="small">Base Currency</label>
        <nb-select class="w-100" placeholder="Base Currency" size="small"  #currency (ngModel)="currency" name="mata_uang">
          <nb-option [value]="newProjectMenu.BaseCurrency[id]" *ngFor="let status of newProjectMenu.BaseCurrency; let id=index;">{{status}}</nb-option>
        </nb-select>
        <label for="Off Hire Period" class="d-block text-muted">Off Hire Period</label>
        <nb-rangepicker #offHirePeriodDate ></nb-rangepicker>  
        <input fieldSize="small" class="w-100" type="text" nbInput shape="rectangle" placeholder="Pick Date" [nbDatepicker]="offHirePeriodDate" name="offHirePeriod" #offHirePeriod (ngModel)="offHirePeriod">
        <label for="Deviation" class="d-block text-muted">- Deviation</label>
        <input type="text" class="w-100" nbInput fieldSize="small" name="off_hire_deviasi" #deviation (ngModel)="deviation">
        <label for="Charter Rate" class="d-block text-muted" >- Charter Rate</label>
        <input type="text" class="w-100" nbInput fieldSize="small" name="off_hire_rate_per_day" #charterRate (ngModel)="charterRate">
        <label for="Bunker" class="d-block text-muted" >- Bunker</label>
        <input type="text" class="w-100" nbInput fieldSize="small" name="off_hire_bunker_per_day" #bunker (ngModel)="bunker">
        <label for="Repair Period" class="d-block text-muted">Repair Period</label>
        <nb-rangepicker #repairPeriodDate ></nb-rangepicker>  
        <input fieldSize="small" class="w-100" type="text" nbInput shape="rectangle" placeholder="Pick Date" [nbDatepicker]="repairPeriodDate" name="repairPeriod" #repairPeriod (ngModel)="repairPeriod">
        <label for="In Dock" class="d-block text-muted">- In Dock</label> 
        <nb-rangepicker #inDockDate></nb-rangepicker>
        <input fieldSize="small" class="w-100" type="text" nbInput shape="rectangle" placeholder="Pick Date" [nbDatepicker]="inDockDate" name="repairInDock" #repairInDock (ngModel)="repairInDock">
        <label for="Additional Day" class="d-block text-muted" >- Additional Day</label>
        <input type="text" class="w-100" nbInput fieldSize="small" name="repair_additional_day" #additionalDay (ngModel)="additionalDay" >
      </div>
      <button nbButton class="m-3 w-100" status="success" type="submit">Add Project</button>
    </form>
  </nb-card-body>
</nb-card> 