



<nb-card>
    <nb-card-body>
        
        <div class="buttons mx-4 my-2" >
            <button *ngFor="let icon of useIcons; let indexOfelement=index;"
            nbButton outline size = "tiny"  status = "primary" class="mx-1" routerLink="/pages/report-batera/sub-menu-report">
                <nb-icon [icon]="icon.icon" pack="eva">
                </nb-icon>
                {{icon.desc}}
            </button>
        </div>
        <ngx-datatable 
        [class]="'bootstrap'" 
        [rows]="shipData" 
        [count]="shipData.length"   
        [scrollbarH]="true"
        [columnMode]="'force'"
        class="row"
        [rowHeight]="'auto'"
        default>

            <ngx-datatable-column [name]="'No'" [width]="50">
                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    {{rowIndex+1}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [name]="'Nama Personil'" [width]="50">
                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    _
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [name]="'Title/Jabatan'" [width]="50">
                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    _
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [name]="'Join Date'" prop="">
            <ng-template let-row="row" ngx-datatable-cell-template>
                _
            </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [name]="'Last Change'" prop="">
            <ng-template let-row="row" ngx-datatable-cell-template>
                _
            </ng-template>  
            </ngx-datatable-column>
        </ngx-datatable>
    </nb-card-body>
</nb-card>