@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

.datatable-body-row, .datatable-body-cell {
    height: auto !important;
}

.text-14 {
    font-size: 14px;
    font-weight: 600;
}

.text-12 {
    font-size: 12px;
    font-weight: 600;
}

.text-10 {
    font-size: 10px;
    font-weight: 400;
}

.text-10b {
    font-size: 10px;
    font-weight: 600;
}

.text-8 {
    font-size: 10px;
    font-weight: 400;
}

.text-gray {
    font-weight: 400;
    color: #909598;
}