<nb-card>
    <nb-card-header class="d-flex">
        <div class="d-flex justify-content-between w-100">
            <div class="d-flex">
            <h3>{{subProjectData?.head}}</h3>
                <div>
                    <button 
                    nbButton 
                    status="primary" 
                    class="mx-4" 
                    outline 
                    size="tiny" 
                    (click)="projectStatusDial()">
                        <nb-icon 
                        icon="info-outline" 
                        pack="eva"></nb-icon>
                    </button>
                </div>
            </div>
            <div>
                <button nbButton 
                status="primary" 
                class="mx-2" 
                outline 
                size="tiny" 
                (click)="exportToPDF()">
                    <nb-icon icon="file-outline" pack="eva"></nb-icon>
                    Export To PDF
                </button>
            </div>
        </div>

    </nb-card-header>
    <div class="m-3">
        <h6>Description</h6>    
        <p>{{subProjectData?.tender?.komentar}}</p>
    </div> 
</nb-card>

<nb-card>
      <nb-tabset fullWidth>
        <nb-tab tabTitle="PIC" >
            <ngx-pic [picData]="picData"></ngx-pic>
        </nb-tab>
        <nb-tab tabTitle="Work Progress">
            <ngx-work-progress 
            (reloadPage)="ngOnInit()" 
            [projectData]="projectData" 
            [workProgressData]="subProjectData" 
            (alertStatus)="allertStatus($event)" 
            [suplierData]="dataSuplier"
            [companyProfile]="companyProfile"
            [picData]="picData" 
            >
            </ngx-work-progress>
        </nb-tab>
        <nb-tab tabTitle="Variant Work">
            <ngx-variant-work 
            (reloadPage)="ngOnInit()" 
            (alertStatus)="allertStatus($event)" 
            [variantWorkData]="projectData" 
            [workProgressData]="subProjectData" 
            [suplierData]="dataSuplier"
            [companyProfile]="companyProfile"
            [picData]="picData" 
            >
            </ngx-variant-work>
        </nb-tab>
        <nb-tab tabTitle="BAST">
            <ngx-bast 
            (reloadPage)="ngOnInit()" 
            [projectData]="projectData" 
            [workProgressData]="subProjectData" 
            [picData]="picData" 
            [typeMenu]="'bast'"
            [companyProfile]="companyProfile"
            >
            </ngx-bast>
        </nb-tab>
        <nb-tab tabTitle="Surat Teguran">
            <ngx-bast 
            (reloadPage)="ngOnInit()" 
            [projectData]="projectData" 
            [workProgressData]="subProjectData" 
            [picData]="picData" 
            [typeMenu]="'surat_teguran'"
            [companyProfile]="companyProfile"
            >
            </ngx-bast>
        </nb-tab>
        <nb-tab tabTitle="Close Out Report (COR)">
            <ngx-bast 
            (reloadPage)="ngOnInit()" 
            [projectData]="projectData" 
            [workProgressData]="subProjectData" 
            [picData]="picData" 
            [typeMenu]="'close_out_report'"
            [companyProfile]="companyProfile"
            >
        </ngx-bast>
        </nb-tab>
      </nb-tabset>
</nb-card>

<nb-card style="position: absolute; width : 20%; bottom: 1.2rem; right:-30rem;" 
[ngClass]="alertConds?.conds ? 'active' : ''" >
    <nb-alert accent="success" 
    class="bg-transparent"> 
      <div class="d-flex align-items-center mt-2">
        <nb-icon icon="checkmark-circle-2-outline" 
        [status]="alertConds?.status" 
        class="check_icon mx-2"></nb-icon> 
        {{alertConds?.msg}}
      </div>
    </nb-alert>
</nb-card>  

<f-gantt viewMode="Month" style="z-index: -1000; position: absolute;" [tasks]="tasks" id="exportGanttChart" ></f-gantt>