<nb-card>
    <nb-card-header>
        <h1>Speedo</h1>
    </nb-card-header>
    <nb-card-body class="row">
        <div class="col-4 align-items-center" >
            <div class="row d-flex justify-content-between m-2" >
                <span class="mr-5 align-items-center d-flex">Start / End</span>
            </div>
            <div class="row d-flex justify-content-between m-2" >
                <span class="mr-5 align-items-center d-flex">Status</span>
                <nb-select selected="1">
                    <nb-option value="1">In Progress</nb-option>
                    <nb-option value="2">Dones</nb-option>
                </nb-select>
            </div>
            <div class="row d-flex justify-content-between m-2" >
                <span class="mr-5 align-items-center d-flex">Project Type</span>
                <nb-select selected="1">
                    <nb-option value="1">Dry Docking</nb-option>
                    <nb-option value="2">Dones</nb-option>
                </nb-select>
            </div>
            <div class="row d-flex justify-content-between m-2" >
                <span class="mr-5 align-items-center d-flex">Company</span>
            </div>
            <div class="row d-flex justify-content-between m-2" >
                <span class="mr-5 align-items-center d-flex">Responsible</span>
            </div>
            <div class="row d-flex justify-content-between m-2" >
                <span class="mr-5 align-items-center d-flex">Estimate Cost</span>
            </div>
        </div>

        <div class="col-4 align-items-center " >
            <div class="row d-flex justify-content-between m-2" >
                <span class="mr-5 align-items-center d-flex">Master Plan</span>
                <nb-select selected="1">
                    <nb-option value="1">Dry Docking</nb-option>
                    <nb-option value="2">Dones</nb-option>
                </nb-select>
            </div>
            <div class="row d-flex justify-content-between m-2" >
                <span class="mr-5 align-items-center d-flex">State</span>
                <nb-select selected="1">
                    <nb-option value="1">Planning</nb-option>
                    <nb-option value="2">Dones</nb-option>
                </nb-select>
            </div>
            <div class="row d-flex justify-content-between m-2" >
                <span class="mr-5 align-items-center d-flex">Priority</span>
                <nb-select selected="1">
                    <nb-option value="1">2 Medium</nb-option>
                    <nb-option value="2">Dones</nb-option>
                </nb-select>
            </div>
            <div class="row d-flex justify-content-between m-2" >
                <span class="mr-5 align-items-center d-flex">Vessel / Asset</span>
            </div>
            <div class="row d-flex justify-content-between m-2" >
                <span class="mr-5 align-items-center d-flex">Partner</span>
            </div>
        </div>
    </nb-card-body>
    <nb-card-body>
        <h6>Description</h6>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, incidunt, quis accusantium voluptas nisi explicabo, ipsam veritatis repudiandae sed dolorem autem commodi possimus ipsa reiciendis iusto sapiente magnam tempora voluptatum!</p>
        </div>
    </nb-card-body>
</nb-card>


<nb-card size="large">
    <nb-tabset>
        <nb-tab tabTitle="Key Positions">
        <span>Key Positions</span>
        </nb-tab>
        <nb-tab tabTitle="Positions">
        <span>Positions</span>
        </nb-tab>
        <nb-tab tabTitle="Activity Report">
        <span>Activity Report</span>
        </nb-tab>
        <nb-tab tabTitle="Meetings">
        <span>Meetings</span>
        </nb-tab>
        <nb-tab tabTitle="Status Report">
        <span>Status Report</span>
        </nb-tab>
        <nb-tab tabTitle="Activity Flow">
        <span>Activity Flow</span>
        </nb-tab>
    </nb-tabset>
</nb-card>