<nb-card>
    <nb-card-header class="d-flex">
        <div class="d-flex justify-content-between w-100">
            <div class="d-flex">
            <h3>{{subProjectData?.head}}</h3>
                <div>
                    <button nbButton status="primary" class="mx-4" outline size="tiny" (click)="projectStatusDial()">
                        <nb-icon icon="info-outline" pack="eva"></nb-icon>
                    </button>
                </div>
            </div>
            <div>
                <button nbButton status="primary" class="mx-2" outline size="tiny" (click)="exportToPDF()">
                    <nb-icon icon="file-outline" pack="eva"></nb-icon>
                    Export To PDF
                </button>
            </div>
        </div>

    </nb-card-header>
    <div class="m-3">
        <h6>Description</h6>    
        <p>{{subProjectData?.tender?.komentar}}</p>
    </div> 
</nb-card>


<nb-card>
      <nb-tabset fullWidth>
        <nb-tab tabTitle="PIC" >
            <ngx-pic></ngx-pic>
        </nb-tab>
        <nb-tab tabTitle="Work Progress">
            <ngx-work-progress (reloadPage)="ngOnInit()" [workProgressData]="subProjectData" [suplierData]="dataSuplier"></ngx-work-progress>
        </nb-tab>
        <nb-tab tabTitle="Variant Work">
            <ngx-variant-work (reloadPage)="ngOnInit()" [variantWorkData]="projectData" [workProgressData]="subProjectData" [suplierData]="dataSuplier"></ngx-variant-work>
        </nb-tab>
        <nb-tab tabTitle="BAST">
            <ngx-bast (reloadPage)="ngOnInit()" [typeMenu]="'bast'"></ngx-bast>
        </nb-tab>
        <nb-tab tabTitle="Surat Teguran">
            <ngx-bast (reloadPage)="ngOnInit()" [typeMenu]="'surat_teguran'"></ngx-bast>
        </nb-tab>
        <nb-tab tabTitle="Close Out Report (COR)">
            <ngx-bast (reloadPage)="ngOnInit()" [typeMenu]="'close_out_report'"></ngx-bast>
        </nb-tab>
      </nb-tabset>
</nb-card>


