<nb-card>
    <nb-card-header class="d-flex justify-content-between">
        <h5 style="color:burlywood;">Add Contract</h5>
        <button nbButton status="danger" size="small" (click)="close()">
          <nb-icon icon="close-square-outline"></nb-icon>
        </button>
      </nb-card-header>
    <nb-card-body>
        
        <form #addYardForm="ngForm" (ngSubmit)="onSubmit(addYardForm)" >
            <div class="row">
                <div class="col-6">
                    <span class="d-block my-1">Yard Name</span>
                    <input class="d-block w-100" type="text" placeholder="Yard Name" nbInput #yardName (ngModel)="yardName" name="nama_galangan" fieldSize="small">
                    <span class="d-block my-1">Yard Location</span>
                    <textarea name="" nbInput cols="70" rows="2" placeholder="Yard Location" (ngModel)="yardLocation" #yardLocation name="lokasi_galangan"></textarea>
                    <span class="d-block my-1">Responsible</span>
                    <nb-select placeholder="Responsible" size="small" class=" w-100" #responsible name="id_user" (ngModel)="responsible">
                        <nb-option *ngFor="let value of addProjectBody.responsible; let id=index;" [value]="addProjectBody.responsible[id].id">{{value.name}}</nb-option>
                    </nb-select>
                    <span class="d-block my-1">Contract Number</span>
                    <input class="d-block w-100" type="text" placeholder="Contract Number" nbInput (ngModel)="contractNumber" #contractNumber name="no_kontrak" fieldSize="small">
                    <span class="d-block my-1">Yard Quote</span>
                    <input class="d-block w-100" type="text" placeholder="Yard Quote" nbInput (ngModel)="yardQuote" name="yard_total_quote" #yardQuote fieldSize="small">
                </div>
                <div class="col-6">
                    <span class="d-block my-1">General Discount</span>
                    <input class="d-block w-100" type="text" placeholder="General Discount" nbInput (ngModel)="generalDiscount" name="general_diskon_persen" #generalDiscount fieldSize="small">
                    <span class="d-block my-1">Additional Discount</span>
                    <input class="d-block w-100" type="text" placeholder="Additional Discount" nbInput (ngModel)="additionalDiscount" name="additional_diskon" #additionalDiscount fieldSize="small">
                    <span class="d-block my-1">Sum Internal Adjusment</span>
                    <input class="d-block w-100" type="text" placeholder="Sum Internal Adjusment" nbInput (ngModel)="sumInternal" name="sum_internal_adjusment" #sumInternal fieldSize="small">
                    <span class="d-block my-1">Comment</span>
                    <textarea name="" nbInput id="" cols="50" placeholder="Internal Comment" rows="3" (ngModel)="comment" name="komentar" #comment></textarea>
                </div>
            </div>

            <div class="d-flex justify-content-center m-3 mr-5">
                <button nbButton class="mx-2" shape="rectangle" status="primary" type="button" outline size="small" (click)="triggerSelectFile(uploadContract)">
                    Upload Contract
                <input type="file" style="display: none;" #uploadContract name="dokumen" #document (ngModel)="document">
                </button>
                <button nbButton status="success" type="submit">Submit</button>
            </div>
        </form>

    </nb-card-body>
</nb-card>